
//view block

#block-views-block-products-product-hvac {
	& > h2 {
		text-align: center;
		font-size: 1.6em;
    letter-spacing: 2px;
    color: $grey-medium-font;
    margin-bottom: -3.5em;
    margin-top: 1.5em;
    z-index: 20;
    position: relative;
    @include breakpoint(0 $just-before-narrow-screen) {
    	@include hide;
    }
	}

	.product-display-feature-grey .view-content {
 		background: linear-gradient(to bottom,#f2f2f2 0%,#f2f2f2 10%,#fff 47%,#dddddd 48%, #f6f6f6 66%, #f6f6f6 100%);
 		@include breakpoint(0 $just-before-narrow-screen) {
 			// margin-top: - 3em;
 		}
	  @include breakpoint($narrow-screen) {
	  	// padding-top: 6em;
	  }

	  .views-row > .views-field {
	  	padding-bottom: 0;

      &.views-field-field-product-type {
        color: $grey-medium-font
      }
	  }
	}

	.slick-dots {
		margin-top: 1em;
	}
}
