.node--type-project-build-step {

  .node--view-mode-full {
    width: var(--content-width);
    padding: 20px auto;
  }

  .node__submitted {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
  }

}