
//TEXT FIELDS

.product-series {
  .text-content {
    //margin-top: 1.3em;
    @include breakpoint($seriesmobilebreak) {
     margin-top: 0;
    }
  }

  //SERIES TITLE

  .title {
    display: none;
    @include breakpoint($seriesmobilebreak) {
      display: block;
    }
  }

  .title.mobile {
    display: block;
    @include breakpoint($seriesmobilebreak) {
      display: none;
    }
  }


  .field--name-field-series {
    // display: none;
    // @include breakpoint($seriesmobilebreak) {
    //   display: block;
    // }
    h2 {
      margin-bottom: .1em;
      font-size: 1.4em;
      //margin-top: -1.3em;
      @include breakpoint($seriesmobilebreak) {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2em;
        position: relative;
      }

      a {
        color: #000;
        text-decoration: none;
         @include breakpoint($seriesmobilebreak) {
           color: $blue;
         }
      }
    }
  }

  //MODELS AVILABALE

  .field--name-field-models-available {
    color: $dark-grey;
    text-transform: uppercase;
    font-weight: $semi-bold;
    letter-spacing: 1px;
    display: block;
    overflow: hidden;
    height: 16px;
    font-size: .85em;
    width: auto;
    @include breakpoint($seriesmobilebreak) {

      color: $blue;
      overflow: visible;
      font-size: 1em;
    }
  }

  .field--name-body {
    margin-bottom: 0;
  }

  //PRICE

  .field--name-field-msrp {
    font-family: $font-set-2;
    text-transform: uppercase;
    color: $dark-grey;
    font-weight: $semi-bold;
    @include font-size(14);
    line-height: .85em;
    margin: .5em 0 0;
    letter-spacing: .6px;
    @include breakpoint($seriesmobilebreak) {
      margin-bottom: 1.2em;
      font-family: $font-set-2;
      font-weight: $semi-bold;
    }

    & > .value-special {
      font-family: $font-set-1;
      text-transform: uppercase;
      color: $dark-grey;
      font-weight: $semi-bold;
      line-height: .85em;
      letter-spacing: .6px;
      @include breakpoint($seriesmobilebreak) {
        margin: .5em 0 0;
        margin-bottom: 1.2em;
        font-family: $font-set-2;
        font-weight: $semi-bold;
      }

      .value-special {
        font-size: 29px;
        letter-spacing: 0px;
        @include breakpoint(0 $seriesmobilebreak) {
          font-family: $font-set-2;
          font-size: 1.7em;
          margin: .1em 0 .2em;
        }
      }
    }

    span {
      display: block;
      line-height: ms();
      font-family: $font-set-1;
      @include font-size(14);
      @include breakpoint($seriesmobilebreak) {
        @include font-size(16);
        display: inline-block;
        font-family: $font-set-2;
      }

      &.start {
        margin-right: .5em;
        @include breakpoint(0 $seriesmobilebreak) {
          @include font-size(14);
        }
      }

      &.value-special {
        // font-size: 20px;
        // margin-right: 5px;
        // margin-left: 3px;
        // font-family: $font-set-2;
        // @include breakpoint($narrow-screen) {
        //   font-size: 33px;
        // }
      }
    }
  }

  //button

  .btn-primary {
    font-style: italic;
    margin-bottom: 1.5em;
    margin-top: ms(-1);
    @include breakpoint($seriesmobilebreak) {
      margin-bottom: .5em;
    }
  }
}
