

//BANNER

.node--type-product-line {
  .header-wrapper {
    background-color: #000;
    background-position: left center;
    //background-size: initial;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 1.3em !important;
    &:before {
      @include dark-side-overlay;
      opacity: .8;
       @include breakpoint($weird-screen) {
          background: linear-gradient(to right, transparent 30%, black 70%);  /* simpler gradient */
          opacity: 0.8;
       }
    }
    @include breakpoint($weird-screen) {
       background-size: cover;
    }
    @include breakpoint($medium-screen) {
      background-size: initial;
    }
    @include breakpoint(0 $seriesmobilebreak) {
      background-image: none !important;
    }
  }

  .header-content-wrapper {
    position: relative;
    @include breakpoint($medium-screen) {
      padding: ms(3) ms();
      min-height: 250px;
    }

    &:after {
      @include shadow-bottom;
    }

    //TEXT WRAPPER

    .inner-wrapper {
      padding: ms() 5%;
      padding-bottom: 1.5em;
      color: #fff;
      text-align: center;
      z-index: 50;
      position: relative;
      font-size: .9em;


      p:last-child {
        margin-bottom: 0;
      }

      @include breakpoint($weird-screen) {
        padding: 5em 4em 5.5em;
      }

      @include breakpoint($seriesmobilebreak) {
        width: 60%;
        margin-left: 40%;
        font-size: .8em;
      }
      @include breakpoint($medium-screen) {
        float: none;
        font-size: 1em;
      }
      @include breakpoint($super-wide-screen) {
        width: 50%;
      }

      //title

      h1 {
        @extend h2;
        font-weight: $bold;
        display: block;
        margin-bottom: .1em;
        font-size: 2em;
        color: #fff;
        @include breakpoint($seriesmobilebreak) {
          font-size: 2.6em;
          margin-bottom: .4em;
        }
      }

      //body

      .field--name-body {
        font-size: ms(1);
        text-transform: uppercase;
        font-weight: $bold;
        line-height: normal;
        @include breakpoint($seriesmobilebreak) {
          text-transform: none;
          font-weight: $semi-bold;
        }

        p {
          line-height: normal;
        }
        @include breakpoint($seriesmobilebreak) {
          font-size: ms(2);
        }
      }
    }
  }
}
