
.division-hvac {
	#footer nav ul.menu li {
		a.btn-primary-color-hv {
			background-color: transparent;
		}
	}

	#footer .region--footer-first nav {
		@include breakpoint(1070px) {
			max-width: 600px;
		}
	}

	#footer .region--footer-first .block-menu.navigation:nth-child(2) > ul.menu {
		@include breakpoint($narrow-screen) {
			column-count: 1;
		}
		@include breakpoint(850px) {
			column-count: 2;
		}
		@include breakpoint(1070px) {
			column-count: 3;
		}

		& > li {
			@include breakpoint($narrow-screen) {
				display: block;
			}
		}

		& > li:nth-child(4) {
			@include breakpoint(850px) {
				display: inline-block;
			}
		}

		& > li:nth-child(3) {
 			@include breakpoint(1070px) {
 				display: inline-block;
 			}
		}
	}

	.region--footer-first {
		a.btn-primary-color-hv {
			background-color: transparent !important;
		}
	}
}