.vscode

.ddev

.idea

.DS_Store

node_modules

sites/default/files
# Some images are critical and they should be shipped everywhere.
# sites/default/public-files
sites/default/settings.php

# Public file system
sites/default/public-files

**/simpletest/**

surgery

*.zip
*.tar.gz

*.sql
*.sql.gzip
