

// ++++++++++ Drupal Toolbar Overrides

.toolbar {
  ul {
    font-size: rem(13);

    li {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

// ===== Reset the top padding of the page to account for the admin toolbar if using mmenu
// Move the styles to the additional .mm-page element.

body.gin--vertical-toolbar.mm-wrapper,
body.gin--horizontal-toolbar.mm-wrapper,
body.gin--classic-toolbar.mm-wrapper {
  padding-top: 0 !important;
  padding-left: 0;

  .mm-page {
    padding-top: var(--ginHorizontalToolbarOffset);
    margin-left: 0;
  }

  // Fixing overlap issues with orientation toggle within the vertical toolbar orientation.
  .toolbar-toggle-orientation .toolbar-icon {
    z-index: 100;
  }
}

body.gin--classic-toolbar.toolbar-vertical.mm-wrapper {
  &.toolbar-fixed.toolbar-tray-open {
    @include breakpoint(976px) {
      --ginHorizontalToolbarOffset: 39px;
    }
  }
}
