.division-hvac {
  .region--masthead-primary #block-horizontalmenu > nav > ul#horizontal-menu > li:hover > a {
    color: lighten($hv-red, 9%);
  }

  .mm-btn_prev:before {
  	color: $hv-red-on-black;
  }

  .custom-blocks-wrapper {
  	background: $hv-red;
  }
}

