
.path-node.node--type-fireplaces-product-series {
  section#features {
    margin-top: 0;
  }
}

//main node fields

article.node--type-fireplaces-product-series.node--view-mode-full {
  .section-content > .layout-container {
    padding-top: 0;
  }

  //OVERVIEW DESCRIPTION ==========================================================================

  .series-overview-description {
    margin: ms(3) 0 ms(4);
    @include breakpoint($narrow-screen) {
      margin: ms(7) ms(3);
    }

    .field--name-field-description {
      text-align: center;
      color: #000;
      font-size: 1.2em;
      font-weight: $light;
      @include breakpoint($narrow-screen) {
        font-size: 1.8em;
        color: $fp-dark-grey;
      }

      p {
        display: none;
      }

      p.summary,
      p:first-child {
        display: block;
      }
    }

    .field--name-field-tagline {
      display: block;
      font-weight: $semi-bold;
      font-style: italic;
      font-size: 1.4em;
      text-align: center;
      margin-bottom: .4em;
      @include breakpoint($narrow-screen) {
        display: none;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    button {
      @include btn-secondary;
      @include btn-skinny;
      display: flex;
      margin: ms(-2) auto 0;
      @include breakpoint($narrow-screen) {
        margin: ms(2) auto 0;
      }
    }
  }

  .field--name-field-description-suffix {
    margin-top: 2em;
  }
}

























