
.product-line-teaser-layout-field {
  @include negative-margin;
}

.product-line-teaser-layout {
  margin-bottom: .5em;
  background-color: #000;
  @include breakpoint($weird-screen-max) {
    margin-bottom: .7em;
  }

  //stylistic overlays

  .desktop-wrapper, .mobile-wrapper {
    position: relative;
    z-index: 10;
    background-size: cover;
    background-position: center right;
    &:before {
      @include breakpoint(max-width $just-before-weird-screen-max) {
        @include color-overlay(#eee, .7);
        background: rgb(147,143,141);
        background: radial-gradient(circle, rgba(147,143,141,1) 0%, rgba(83,77,72,1) 65%, rgba(46,40,34,1) 100%);
      }
    }
  }

  //Desktop only

  .desktop-wrapper {
    display: none;
    @include breakpoint($weird-screen-max) {
      padding: ms(7) ms(7) ms(3);
      display: flex;
      flex-direction: column;
    }

    & > h2 {
      display: block;
      width: 100%;
    }
  }

  //mobile

  .mobile-wrapper {
    display: flex;
    flex-direction: column;
    padding: ms(2) 2em;
    @include breakpoint($weird-screen-max) {
      display: none;
    }
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: flex-start;
    z-index: 1;

    @include breakpoint($narrow-screen) {
      align-items: center;
      flex-direction: row;
      gap: 1rem;
    }

    @include breakpoint($weird-screen) {
      gap: 2rem;
    }

    h2 {
      margin-bottom: 0;

      @include breakpoint($narrow-screen) {
        margin-bottom: 0.512em;
      }
    }

    .field--name-field-is-new {
      margin-bottom: 1em;
      margin-left: -0.7rem;

      @include breakpoint($narrow-screen) {
        gap: 1rem;
        margin-left: 0;
      }

      .new-offer {
        @include new-flag;
      }
    }
  }

  //node ===========================================

  .product-line-teaser-layout-wrapper {
    color: #fff;

    .inner-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .info-wrapper {
      z-index: 10;
      @include breakpoint(max-width $just-before-weird-screen-max) {
        display: flex;
      }
      @include breakpoint($weird-screen-max) {
        flex: 0 0 50%;
        margin-right: 3em;
      }

      .left-column {
        flex-shrink: 0;
        margin-right: ms(2);
        width: 50%;
      }
    }

    //title

    .field--name-title {
      position: relative;
      padding: .5em .7em;
      display: inline-block;
      z-index: 10;
      color: #fff;
      left: -.5em;
      font-size: .9em;
      letter-spacing: 1.5px;
      @include breakpoint(max-width $just-before-weird-screen-max) {
        font-size: .7em;
        padding: .8em;
        line-height: 1em;
        letter-spacing: 1px;
      }
      &:after {
        @include dark-overlay;
        z-index: -1;
      }
    }

    //select sizes

    .field--name-field-size-select {
      @include breakpoint(max-width $just-before-weird-screen-max) {
        font-weight: $bold;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: ms(4);
      }
      color: #999;
      margin-bottom: .5em;
      margin-top: 0.75em;

      p:last-child {
        margin-bottom: .2em;
      }
    }

    // starting at MSRP

    .field--name-field-msrp {
      @include breakpoint(max-width $just-before-weird-screen-max) {
        font-weight: $bold;
        margin-bottom: ms();
        display: flex;
        flex-direction: column;
      }
      @include breakpoint($weird-screen-max) {
        margin-bottom: ms(3);
      }
    }

    .field--name-field-msrp .start {
      text-transform: uppercase;
    }

    //body

    .field--name-field-short-description,
    .field--name-field-overview-description {
      display: none;
      @include breakpoint($weird-screen-max) {
        display: block;
        font-style: italic;
        font-size: 1.3em;
      }
    }

    //image

    .field--name-field-media-image {
      margin-top: .5em;
      margin-right: calc(-2em - 20px);
      @include breakpoint($weird-screen-max) {
        margin-top: 0em;
        margin-right: 0;
        flex-shrink: 0;
      }
    }

    //button

    .btn-primary {
      margin-bottom: 0;
    }
  }
}
