
//slider promo block

#block-views-block-promo-slider-promo-slider-fireplaces {
  @include orange-shadow($fp-warm-purple, 'after');

  &:after {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    width: 100%;
  }
}

//inner slider block

.division-fireplaces .view-promo-slider .node--type-promo .header-wrapper {
  display: block;
  padding-top: ms(8);
  @include breakpoint($narrow-screen) {
    min-height: 690px;
  }

  .header-content {
    @include layout-container;
    width: 100%;
  }

  .field--name-field-description {
    font-size: 1.25em;
  }
}

