

//the base styles from this come from Fireplaces product line 'series' : node-type-product-series__teaser__fp

.node--type-hvac-product.product-line-teaser-layout {
	color: #000;

	.desktop-wrapper {
		@include breakpoint($weird-screen-max) {
      padding: ms(7) ms(7) ms(7);
    }

    &::before {
      @include breakpoint($weird-screen-max) {
        @include light-side-overlay-2;
        transform: scaleX(-1);
        opacity: .9;
      }
    }
	}

	.mobile-wrapper:after {
		content: none;
	}
	.mobile-wrapper:before {
		@include breakpoint(max-width $just-before-weird-screen-max) {
			@include light-side-overlay;
			transform: scaleX(-1);
      opacity: .9;
		}
	}

	.mobile-wrapper {
		background-position: 70% 50%;
		.info-wrapper .left-column {
			.field--name-field-bazaarvoice-pr-summary {
				margin-bottom: 1em;
			}
		}
	}

	.product-line-teaser-layout-wrapper {
		color: #000;

		//title

		.field--name-title {
			padding: 0;
			left: auto;
			color: #000;
			font-size: .75em;
			margin-bottom: .2em;
			@include breakpoint($weird-screen-max) {
				font-size: 1em;
			}
			&:after {
				content: none;
			}
		}

		.inner-wrapper {
			flex-wrap: wrap;
		}

		//features

		.field--name-field-banner-features {
			margin-bottom: 1.3em;
			@include breakpoint($weird-screen-max) {
				text-transform: uppercase;
			}

			.field__item {
				font-weight: $semi-bold;
				margin-bottom: .7em;
			}
		}

		//body

		.field--name-field-short-description {
			font-size: 1.1em;
			font-weight: lighter;

			p {
				line-height: 1.8em;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}

		//button and feature thumbnail section

		.button-wrapper {
			flex: 0 0 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			z-index: 10;
      position: relative;
			@include breakpoint(max-width $just-before-weird-screen-max) {

			}

			& > a[class*='btn'] {
				@include btn-hv-narrow;
			  margin-top: 1em;
			}

			//thumbnail

			.series-features-wrapper {
				margin: -1em 0 0 0;
				display: block;

				.field--name-field-media-image {
					@include breakpoint(max-width $just-before-weird-screen-max) {
						margin-right: 0;

						img {
							width: 60px;
						}
					}
				}
			}
		}
	}
}
