
.division-hvac {
	.specs {
		.range,
		.field .field,
		.field .field__item {
				color: $hv-red;
		}


    .range {
      flex-wrap: wrap;

      > div {
        flex: 0 0 100%;
      }
    }
	}
}

