
.division-hvac {
	.downloads-wrapper, .videos-links-wrapper {
    a {
      color: $hv-link;
    }

    .block-support-links-block {
      a {
        &::before {
          @include fontawesome-icon;
          content: $fa-var-chevron-right;
          font-size: 1em;
          top: -1px;
          position: relative;
        }
      }
    }
	}
}
