
.node--type-hvac-product {
  .dimensions-wrapper {
    .inner-wrapper > .field {
      @include breakpoint($standard-screen) {
        max-width: calc(33% - 1em);
      }
    }
  }
  .specification {
    margin-bottom: 1em;
    font-size: 1.1em;

    & > div {
      display: block;
      align-items: flex-start;
      display: flex;

      .field {
        text-align: left;
        display: inline-block;
        font-family: $font-set-1;
        color: $off-black;
        font-weight: $normal;
        margin-bottom: .5em;

        &:first-child {
          flex: 0 0 110px;
          font-weight: $semi-bold;
        }

        .field__item {
          color: $off-black;
        }
      }
    }
  }
}


html[lang="fr"] .node--type-hvac-product {
  .specification {
    > div {
      .field:first-child {
        flex: 0 0 140px;
      }
    }
  }
}
