
.division-hvac {

	//feature stack colours

	//GRADIENT OVERLAYS ============================================================================================================

	section#features > .field--name-field-features-stack > .field__item > .feature-stack-product {
		
		//link

		.field--name-field-feature-link-data {
			a {
				@include btn-secondary-fp;
				color: blue;
				&:hover, &:focus, &:active {
					color: $dark-grey !important;
				}
			}
		}
		
		& > .feature-stack-product-item {
			& > article.media--type-image-feature > .media-content {
				background-color: #f2f2f2;
				overflow: hidden;

				&:before {
					@include breakpoint(0 $just-before-narrow-screen) {
						background: none;
					}
				}

				.header-wrapper {
					@include breakpoint(0 $just-before-narrow-screen) {
						min-height: auto;
						padding-top: 20em;
				    padding-top: 66%;
				    padding-top: 66vw;
					}
				}
			}
		}



		//first ======================================================================

		& > .feature-stack-product-item:nth-child(3n+1) > article.media--type-image-feature > .media-content {
				background: linear-gradient(to right, white 65%, #d4d4d4 100%);

			&:before {
				@include breakpoint($narrow-screen) {
					background: linear-gradient(85deg, rgba(255,255,255,0) 33%, rgba(255,255,255,0.8) 49%, rgb(255, 255, 255) 52%, rgb(212, 212, 212) 100%);
					z-index: 10;
				}
			}
		}



		//second ======================================================================

		& > .feature-stack-product-item:nth-child(3n+2) > article.media--type-image-feature > .media-content {

			&:before {
				@include breakpoint($narrow-screen) {
					background: linear-gradient(to right,rgba(255,255,255,0) 11%, rgba(255,255,255,0.25) 37%, rgb(255, 255, 255) 53%, rgb(228, 226, 227) 100%);
				}
			}
		}

		& > .feature-stack-product-item:nth-child(3n+2):nth-child(even) > article.media--type-image-feature > .media-content {
			background: linear-gradient(203deg, rgb(247, 247, 247) 62%, rgb(230, 230, 230) 64%, rgb(237, 237, 237) 90%);
		}

		& > .feature-stack-product-item:nth-child(3n+2):nth-child(odd) > article.media--type-image-feature > .media-content {
			background: linear-gradient(157deg, rgb(247, 247, 247) 62%, rgb(230, 230, 230) 64%, rgb(237, 237, 237) 90%);
		}


		//third ======================================================================

		& > .feature-stack-product-item:nth-child(3n+3) > article.media--type-image-feature > .media-content {
			background: linear-gradient(to right, rgb(21, 21, 21) 0%, rgb(45, 41, 40) 50%, rgb(21, 21, 21) 100%);
			&:before {
			  @include breakpoint($narrow-screen) {
				  background: linear-gradient(to right, rgba(45,41,40,0) 11%, rgba(45,41,40,0.25) 37%, rgb(45, 41, 40) 53%, rgb(21, 21, 21) 100%);
				}
			}

			.header-wrapper {
				.feature-style-text {
					color: #fff;
				}

				.field--name-field-feature-link-data {
					a {
						@include btn-secondary-fp;
						border: 1px solid #fff;
						color: white !important;
						&:hover, &:focus, &:active {
							color: white !important;
						}
					}
				}
			}
		}
	}


	// INNER TEXT ============================================================================================================

	.feature-style-text {
		color: $off-black;
		text-shadow: none;

    .field--name-field-feature-lead-region,
		.field--name-field-feature-lead {
			font-weight: $bold;
		}

		.feature-name {
			color: $hv-dark-red;
			font-weight: $bold;
			margin-bottom: .7em;
			font-size: .9em;
			@include breakpoint(0 $just-before-narrow-screen) {
				margin-bottom:.4em;
				font-size: 14px;
			}
		}

		h3 {
			@include breakpoint(0 $just-before-narrow-screen) {
				margin-bottom:.2em;
				font-size: 1.2em;
			}
			@include breakpoint($narrow-screen) {
				font-size: 1.5em;
			}
		}

    .field--name-field-feature-description-region,
		.field--name-field-feature-description {
			font-weight: normal;
		}
	}
}
