
.recipe-feature-section {
  .views-field-title,
  .views-field-name {
    span {display: block;}
    a {
      @extend a.dark-link;
      text-align: center;
      font-weight: $bold;
      display: block;
      text-transform: uppercase;
      font-size: ms();
      margin: ms(-1) 0;
      @include breakpoint($narrow-screen) {
      	font-size: ms(2);
      }
    }
  }
}

.recipe-block-grid {
  margin-bottom: ms(2);
  @include breakpoint($weird-screen) {
  	margin-bottom: ms(8);
  }

  ul.pager {
  	@include breakpoint($weird-screen) {
    	margin-top: ms(4);
  	}

  	li.pager__item {
  		@include breakpoint(0 $narrow-screen) {
  			width: 100%;
  		}
  		a {
	  		@include breakpoint(0 $narrow-screen) {
	  			width: 100%;
	  			display: block;
	  			text-align: center;
	  		}
  		}
  	}
  }
}

.recipe-block-grid.block-views-blockrecipes-recent-recipes,
.recipe-block-grid.block-views-blockrecipes-favourite-recipes,
.recipe-block-grid.block-views-blockrecipe-categories-recipe-categories  {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include breakpoint($narrow-screen) {
      margin-left: -1%;
      margin-right: -1%;
    }
    .views-row {
      flex: 0 0 48%;
      margin: 1%;
      display: none;
      @include breakpoint($narrow-screen) {
        flex: 0 0 31.3%;
      }
    }
    .views-row:nth-of-type(-n+2) {
      display: block;
    }
  }
  .view-footer {
    margin-top: ms(4);
    .more-btn {
      @include reset;
      display: flex;
      justify-content: center;
      .button {
        @include btn-border;
        width: 100%;
        text-align: center;
        @include breakpoint($narrow-screen) {
          width: auto;
        }
        &:hover{
          background-color: $blue;
          color: white;
        }
      }
    }
  }
}

.recipe-block-grid.block-views-blockrecipe-categories-recipe-categories {
  .view-content {
    .views-row {
      display: block;
    }
  }
}

//special mobile layout fix

.node--type-landing-page {
  @include breakpoint(0 $narrow-screen) {
    .recipe-feature-section {
      .clearfix:after {
        content: none;
      }

      .views-view-grid.horizontal.cols-3 .views-row {
        width: auto;
        display: block;
        clear: none;
        float: none;

        .views-col {
          width: 48% !important;
        }
      }

      ul.pager {
        width: 100%;
      }
    }


    .node--type-landing-page {
      width: 100%;
      float: left;
    }
  }
}
