

.node--type-recipe .block-addtoany {
  position: absolute;
  top: ms(2);
  right: ms(6);

  .addtoany_list.a2a_kit_size_32 a > span {
    width: 18px;

  }
  a[class*='a2a'] {
    background-color: #fff;
    display: inline-block;
    border-radius: 50px;
    height: 26px;
    width: 26px;
    margin-left: .2em;
    display: inline-flex;
    justify-items: center;
    align-items: center;
  }

  .a2a_svg {
    background-color: transparent !important;
    font-size: 11px;
  }

  .a2a_svg svg {
    top: 50%;
    transform: translateY(-50%);
  }

  path {
    fill: #000 !important;
  }
}
