
@mixin placeholder-text {
  text-align: center;
  font-size: ms(1);
  line-height: 18px;
}

.napoleon-search-form-recipes-small {
  margin-bottom: ms(5);

  h2 {
    font-weight: $bold;
    font-size: ms(3);
    margin-bottom: ms();
  }

  #napoleon-search-form-recipes-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
     @include breakpoint($mobile-break-recipes) {
      flex-direction: row;
     }

    .form-item {
      margin: 0;
      flex-grow: 1;
      margin-bottom: 1em;
      @include breakpoint($mobile-break-recipes) {
        margin-right: ms(4);
        margin-bottom: 0;
      }

      input:not(#edit-submit):not(#edit-actions-submit):not(.button).form-text {
        border: 2px solid #000;
        height: 40px;
        width: 100%;

        &::placeholder {
          @include placeholder-text;
        }
        &::-webkit-input-placeholder {
          @include placeholder-text;
        }
        &::-moz-placeholder {
          @include placeholder-text;
        }
        &:-ms-input-placeholder {
          @include placeholder-text;
        }
        &:-moz-placeholder {
          @include placeholder-text;
        }
        &::-ms-clear {
          @include placeholder-text;
        }
      }
    }

    input.form-submit {
      background-color: transparent;
      padding: 0;
      color: $grey;
      text-transform: lowercase;
      letter-spacing: 0;
      font-weight: $normal;
      font-size: ms(1);
      font-style: italic;
      margin: 0;
      text-decoration: underline;
      @include breakpoint($mobile-break-recipes) {
        margin-right: ms(4);
      }
    }
  }
}











