
//RECIPIE INGREDIENTS AND DIRECTIONS /////////////////////=====================

.node--type-recipe {
  .description {
    @include breakpoint(0 $narrow-screen) {
      .title-tab {
        color: #000;
      }

      .title-tab:not(.tab-on) {
        background-color: #B5BFBD;
      }
    }
    @include breakpoint($narrow-screen) {
      display: flex;
    }

    a.print {
      position: absolute;
      top: ms();
      right: ms();
      display: inline-block;
      overflow: hidden;
      width: 24px;
      height: 23px;
      @include breakpoint(0 $narrow-screen) {
        top: auto;
        bottom: 1em;
      }
      @include breakpoint($mobile-break-recipes) {
        top: ms(2);
        right: ms(2);
      }

      &:before {
        @include fontawesome-icon;
        content: $fa-var-print;
        color: #000;
      }
    }

    //COLUMNS

    .col {
      @include breakpoint($narrow-screen) {
        margin-left: 1em;
        margin-right: 1em;
      }

      &.recipies {
        margin-left: 0em;
        flex: 1 1 60%;
      }
      &.images {
        display: none;
        @include breakpoint($narrow-screen) {
          display: block;
          margin-right: 0em;
          flex: 1 1 40%;
        }
      }
    }

    .recipies {

      //DESCRIPTION AND AUTHOR

      .related-recipes,
      .author-wrapper,
      .desc-wrapper {
        background-color: $light-grey;
        padding: ms(2) ms(2);
        margin-bottom: $bottom-spacing;
        position: relative;
        @include breakpoint($mobile-break-recipes) {
          padding: ms(5) ms(6);
        }
      }

      .related-recipes,
      .author-wrapper {
        padding: 1.2em;
      }

      .desc-wrapper {
        @include breakpoint(0 $narrow-screen) {
          padding-top: 0;
          @include negative-margin;
        }
        .brick {
          margin-bottom: 0;
        }
        .text-text > .field {
          margin-top: 0;
          margin-bottom: 0;

          p:last-child {
            margin: 0;
          }
        }

        .text-text-default > .field {
          margin-top: 0;
          margin-bottom: 1em;
        }


        .field--name-field-ingredients {
          margin-bottom: ms(4);

          .field__label {
             @include breakpoint(0 $narrow-screen) {
              display: none;
             }
          }

          ul {
            margin-bottom: 32px;
          }

          li {
            list-style: none;
            margin: 0;
            margin-bottom: 5px;
          }
        }
        .field--name-field-ingredients .field__items .brick {
          display: flex;
          font-weight: normal;
          @include breakpoint($narrow-screen) {
            font-size: ms(1);
          }

          .field--name-field-text {
            //flex: 0 0 25%;
            //max-width: 25%;
          }

          .field--name-field-text-extra {
            flex-grow: 1;
            @include breakpoint($narrow-screen) {
              font-weight: $normal;
            }
          }
        }

        .field--name-field-ingredients .field__items .brick.text-text.col-50-50 {
          & > .field {
            flex: 1 0 50%;

            &.field--name-field-text {
              flex: unset;
              margin: 0;
            }

            &.field--name-field-text-extra {
              margin-left: 5px;
              margin-right: 0;
            }
          }
        }

        .field--name-field-ingredients .field__items .brick.text-text.col-70-30 {
          .field--name-field-text {
            max-width: 60%;
          }
        }

        .field--name-field-ingredients .field__items .brick.text-text.col-50-50,
        .field--name-field-ingredients .field__items .brick.text-text.col-70-30 {
          margin-right: 0;
          margin-left: 0;
        }
      }

      //SUB TITLES

      .field__label {
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: ms(3);
        font-size: ms(1);
      }

      //MAIN HEADING

      p.title {
        display: none;
        @extend h1;
        margin-bottom: ms(1);
        font-size: ms(2);
        margin-top: .8em;
        @include breakpoint($narrow-screen) {
          display: block;
        }
        @include breakpoint($mobile-break-recipes) {
          font-size: ms(4);
          margin-top: 0;
        }
      }

      .field--name-field-components {
        & > .field__items {
          margin-bottom: ms();

          .brick {
            display: flex;
            font-size: 1.3em;

            p {
              margin-bottom: .3em;
            }


            & > .text-formatted:nth-child(1) {
              width: 30%;
            }
          }
        }
      }
    }
  }
}

.tab-item .field--name-field-components-extra {
  display: block;
  @include breakpoint($narrow-screen) {
    display: none;
  }
}
