
//RECENT RECIPIES /////////////////////=====================

.node--type-recipe .description .recipies .related-recipes {
  background-color: transparent;
  padding: 0;
}

.related-recipes {
  text-align: center;

  .node__content > .field {
    margin-bottom: ms();

    &:last-child {
      //margin-bottom: 0;
    }
  }

  .field.field--name-field-related-recipies {
    background-color: $light-grey;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(0 $medium-screen) {
      margin-bottom: 0;
    }
    @include breakpoint($medium-screen) {
      flex-wrap: no-wrap;
    }

    & > .field__item {
      flex: 1 1 100%;
      margin-bottom: ms(2);
      @include breakpoint($medium-screen) {
        margin-right: 3%;
        margin-bottom: 0;
        flex: 1 1 48.5%;
      }

      @include breakpoint($medium-screen) {
        &:first-child {
          .node__content {
            .link {
              margin-bottom: 5em;
            }
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      article {
        display: flex;
        flex-direction: column;
        padding: 1em;

        .field.image {
          margin-left: -10px;
          margin-right: -10px;
        }
      }
    }

    article, .node__content {
      height: 100%;
    }

    .node__content {
      display: flex;
      flex-direction: column;
    }
  }

  .field__label {
    @include hide;
  }

  .title {
    margin-bottom: .4em;

    h2 {
      font-size: ms(1);
    }
    a {
      @extend a.dark-link;
      font-weight: $bold;
    }
  }

  .long-text {
    @include breakpoint($medium-screen) {
      flex-grow: 1;
    }

    &:after {
      content: none;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .field.link {
    margin-bottom: 0;
    @include breakpoint($medium-screen) {
      // margin-bottom: 2em;
    }
    a {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}
