#block-breadcrumbs,
#block-portfolio-breadcrumbs {
  //@include layout-container;
  background-color: #fff;

  .breadcrumb {
    margin-bottom: 1em;
    padding-top: 1.5em;

    ol {
      li {
        @include reset;
        padding: 0.5em 0 0.5em 0;
        // font-size: 0.7em;
        text-transform: uppercase;

        &:after {
          content: ">";
          margin-right: 0.2em;
          padding-left: 0.2em;
        }

        a {
          font-size: large;
          font-weight: $bold;
          text-decoration: none;
        }

        &:last-child {
          border-right: none;
          padding-right: 0;
          padding-left: 0;

          &:after {
            content: none;
            margin-right: 0.5em;
          }

          // a {
          //   font-size: large;
          //   font-weight: $bold;
          //   text-decoration: none;
          // }
        }

        &:before {
          content: none;
        }

        a {
          color: var(--color-grey);
          text-transform: capitalize;
          text-decoration: none;

          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
