.division-fireplaces {
  .blocks-field-container {

    .cta-block-container {
      background-position: center;
    }

    .cta-block-container .field--name-field-buttons a {
      @include btn-secondary-fp-white;
    }

    //column 1 ========================================================

    .field--name-field-blocks {

      //lift the veil

      & > .field__item:first-child {

        .block.cta-block-container {
          display: flex;
          justify-content: center;
        }

        .field--name-field-buttons .field__item {
          display: flex;
          justify-content: center;
        }

        .field--name-field-buttons a {
          @include btn-secondary-fp-white;
          @include btn-large;
        }
      }


      //newsletter

      .block-napoleon-newsletter-form-block {
        background: url("../img/promo-bg.png") no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        position: relative;
        &:after {
          @include dark-overlay;
        }

        h3 {
          color: #fff;
        }

        .home-newsletter-form {
          z-index: 10;
        }

        #edit-subscribe {
          @include btn-secondary-fp-white;
          @include btn-large;
          margin: 0 auto;
          width: auto;
        }
      }
    }

    //column 2 ========================================================

    .field--name-field-blocks-secondary {
      flex-direction: column;

    //spin to win

    & > .field__item:first-child {
      @include breakpoint($medium-screen) {
        flex: auto;
        display: block;
      }
      .block.cta-block-container {
        @include breakpoint(max-width $medium-screen) {
          position: relative;
        }
      }

      .content-wrapper {
        z-index: 10;
      }

      .field--name-field-buttons .field__item {
        display: flex;
        justify-content: center;

        a {
          @include promo-button;
        }
      }
    }

    //Design Studio

    .field__item:last-child {
      
    }
    }
  }
}
