// ==== Fireplaces homepage header
#block-block-fp-home-page-header {
  margin: 2.5rem 0;

  @include breakpoint($weird-screen) {
    margin: 3.75rem 0;
  }

  .field--name-body {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
