
.division-fireplaces {
  #napoleon-search-header-form.open {
    background: #bb6228; /* Old browsers */
    background: -moz-linear-gradient(top, #2d0101 0%, #bb6228 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2d0101 0%,#bb6228 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2d0101 0%,#bb6228 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071123', endColorstr='#0f5fab',GradientType=0 ); /* IE6-9 */
  }
}





