// ++++++ Fireplaces Dealer Locator
$medium-break: 800px;
$medium-large-break: 900px;

.block-views-blockdealer-locator-block-fireplaces-locator {
  border: 1px solid #000;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  padding: 2em .5em 0em;
  @include breakpoint($medium-break) {
    padding: 3em .5em 1em;
  }

  .view-dealer-locator  {
    margin-top: 0;

    //TITLE ========================================================================================

    .view-header {
      h2 {
        font-family: $font-set-1;
        font-size: 1.3em;
        text-align: center;
        font-weight: $bold;
        letter-spacing: 1px;
        color: #000;
        margin-bottom: .8em;
      }
    }

    //FILTER ========================================================================================

    .view-filters {
      background: white;
      padding: 0;
      width: 100%;

      .views-exposed-form {
        padding: 0 1em;
        margin: 0 auto;
      }

      .form--inline {
        display: flex;
        flex-direction: column;
        text-align: center;
        @include breakpoint($medium-large-break) {
          flex-direction: row;
          justify-content: center;
        }

        .js-form-item-field-country-target-id {
          display: none;
        }


        //text =======================================================

        .form-type-textfield {
          display: flex;
          flex-direction: column;
          @include breakpoint($medium-large-break) {
            margin-right: .5em;
            flex-direction: row;
            width: auto;
          }

          label {
            margin-right: .5em;
            font-size: 1.2em;
            color: lighten($dark-grey, 5%);
            flex-shrink: 0;
          }

          .select-wrapper {
            border: none;
          }

          input {
            height: 30px !important;
            border: 1px solid $ui-grey !important;
            width: 200px;
            margin: .5em auto 1em;
            @include breakpoint($medium-large-break) {
              margin: 0;
            }
          }

          .form-text {
            color: $dark-grey;
            text-indent: 0px !important;
          }
          .form-text::placeholder {
            color: $dark-grey !important;
            font-size: 17px !important;
          }
          .form-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $dark-grey !important;
            font-size: 17px !important;
          }
          .form-text::-moz-placeholder { /* Firefox 19+ */
            color: $dark-grey !important;
            font-size: 17px !important;
          }
          .form-text:-ms-input-placeholder { /* IE 10+ */
            color: $dark-grey !important;
            font-size: 17px !important;
          }
          .form-text:-moz-placeholder { /* Firefox 18- */
            color: $dark-grey !important;
            font-size: 17px !important;
          }
        }

        //button =======================================================

        a.btn-submit-search {
          color: #fff !important;
          margin-top: 0;
          margin-right: 0;
          font-size: 1em;
          padding-left: 2.5em;
          padding-right: 2.5em;
          background: #000;
          width: 142px;
          margin: 0 auto;
          height: 29px;

          @include breakpoint($narrow-screen) {
            line-height: .7;
          }

          @include breakpoint($medium-large-break) {
            width: auto;
            margin: 0;
          }
          &:hover,&:focus,&:active {
            background: lighten(#000, 5%);
          }
        }
      }
    }

    //CONTENT ==============================================================================================================

    .view-content {
      .locations-list {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        @include breakpoint($medium-break) {
          flex-direction: row;
        }

        .slick-dots {
          position: relative;
          bottom: 0;
          margin-top: 1em;
        }

        .slick-arrow {
          display: none !important;
        }

        .geolocation {
          display: flex;
          flex-direction: column;
          margin: 0 .25em;
          background: none !important;
          @include breakpoint($medium-break) {
            flex: 1;
          }

          .location-content {
            display: flex;
            flex-flow: row wrap;
            background: $dealer-list-grey;
            padding: 2em 0;
            height: 100%;
            justify-content: center;

            @include breakpoint($medium-break) {
              display: flex;

              flex-grow: 1;
            }
          }

          //LEVEL

          .views-field-dealer-level {
            background: transparent;

            .wrapper {
              flex-direction: row;

              .type-icon img {
                height: 20px;
                margin-right: .5em;
              }
            }
          }

          //INFO

          .location-content > .views-field {
            flex: 0 0 100%;
            width: 100%;
            text-align: center;
            padding-bottom: 4px;
            padding-top: 4px;

            @include breakpoint($medium-large-break) {
              padding-left: 2em;
              padding-right: 2em;
            }

            &:not(:last-child):after {
              display: none;
            }

            &.views-field-field-color {
              display: none;
            }

            &.views-field-title {
              text-transform: uppercase;
              font-weight: $semi-bold;
              padding-top: 0;
              font-size: 1.1em;
            }

            &.views-field-field-city {
              display: flex;
              align-items: center;

              &::after {
                content: '-';
                display: inline-block;
                margin: 0 .2em;
                background: transparent;
                width: auto;
                position: static;
              }
            }

            &.views-field-field-dealer-location-proximity,
            &.views-field-field-city {
              font-size: 1rem;
              font-style: normal;
              font-weight: $normal;
              flex: 0 0 auto;
              width: auto;
              padding-left: 0;
              padding-right: 0;

              .field-content {
                font-weight: $normal !important;
              }
            }

            &.views-field-field-phone {
              font-size: 1.5em;
              padding-top: 0;
            }

            &.views-field-field-email {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              padding-bottom: 0;
              @include breakpoint($medium-break) {
                margin-top: auto;
              }
              a.btn-primary {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 0;
                font-size: 1em;
                padding-left: 2.5em;
                padding-right: 2.5em;
                margin-top: 2em;
                @include breakpoint($medium-break) {
                  margin-top: .5em;
                }
              }
            }
          }
        }
      }
    }
  }
}
