@mixin layout-container {
  position: relative;
  // max-width: $wide-screen;
  margin: 0 auto;
  padding: 0 ms(2);

  @include clearfix;

  @include breakpoint($standard-screen) {
    padding: 0 ms(4);
  }
}
