
@mixin layout-container {
  position: relative;
  max-width:  $wide-screen;
  margin:  0 auto;
  padding:  0 ms(2);
  @include clearfix;
  @include breakpoint($narrow-screen $weird-screen-max) {
    //padding: 0 6.38298%;
  }
  @include breakpoint($medium-screen) {
    //padding:  0 ms(-1);
  }

  @include breakpoint($standard-screen) {
    padding:  0 ms(4);
  }
  @include breakpoint($super-wide-screen) {
    max-width:  1380px;
  }
}
