
//BReadcrumbs for dark layout

.division-hvac.node--type-hvac-product,
.division-fireplaces {
  #block-breadcrumbs li a {
    color: #fff !important;
  }

  #block-breadcrumbs li:after {
    color: #fff;
  }
}

.division-fireplaces.node--type-fireplaces-product {
  section#features {
    margin-bottom: 0;
    margin-top: 0;
  }

  h1 {
  	color: #fff;
  }

  button.bv-write-review-label {
    color: #000 !important;
    &:hover {
      color: $fp-orange !important;
    }
  }
}

.division-hvac.node--type-hvac-product,
.division-fireplaces.node--type-fireplaces-product-series,
.division-fireplaces.node--type-fireplaces-product {
  
  #block-breadcrumbs {
    @include breakpoint(max-width $weird-screen) {
      margin-top: 0;
      bottom: auto;
      position: relative;
      z-index: 10;

      &:after {
        content:"";
        background-color: #000000;
        width: 100vw;
        left: 0;
        position: absolute;
        z-index: -1;
        height: 100%;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        top: 0;
      }
    }
  }

  //fade fix

  section.header-wrapper{
    @include breakpoint(max-width $weird-screen) {
      &:before {
        content: '' !important;
        display: block !important;
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;
        width: 150%;
        height: 72px;
        position: absolute;
        z-index: 1;
        /* background: -webkit-gradient(linear,left top, left bottom,color-stop(33%, transparent), color-stop(43%, #1B1C1C), to(#141515)); */
        background: -o-linear-gradient(top,transparent 33%, #1B1C1C 43%, #141515 100%);
        /* background: linear-gradient(to bottom,transparent 33%, #1B1C1C 43%, #141515 100%); */
        z-index: 10;
        /* background: red; */
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 44%);
      }

      .header-content-wrapper {
        position: relative;
        z-index: 30;

        .field--name-title {
          padding-top: 1em;
          display: block;
        }
      }
    }
  }
}

