
.division-fireplaces section#dealers {
  flex-wrap: wrap;

  @include breakpoint($weird-screen) {
    flex-wrap: nowrap;
  }

  & > .wrapper {
    flex: 0 0 100%;

    @include breakpoint($weird-screen) {
      flex: 1 1 50%;
    }
  }

  // Find a dealer modal
  .block-views-blockdealer-locator-fireplaces-dealer-locator-block {
    & > h2 {

      margin-top: 1em;
    }

    .item-list li {
      flex: 0 0 100%;
    }

    & + .link a.btn-secondary {
      color: #fff !important;
    }

  }

  .link a.btn-secondary {
    margin-right: 0;
    @include btn-secondary;
    @include btn-skinny;
  }

  .buy-local-wrapper {
    ul > li {
      max-width: none;
    }
  }

  .online-dealers-wrapper {
    & > h3 {
      font-family: $font-set-3;
      // font-weight: normal;
      letter-spacing: 6px;
      line-height: 1em;
      margin-top: 1em;
    }
  }
}

.division-fireplaces #cboxWrapper #cboxClose:after {
  right: 10px;
}
