
.division-fireplaces section#features .feature-slider {
  padding-bottom: 0;
  &:after {
    display: none;
  }

  .feature-style-text {
    text-align: center;
    @include breakpoint($medium-screen) {
      width: 39%;
      padding: 0;
      margin-right: 2em;
    }

    h3 .field--name-field-feature-lead-region,
    .field--name-field-feature-description-region,
    h3 .field--name-field-feature-lead,
    .field--name-field-feature-description {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
