

//MENU ==========================================================================

.division-fireplaces {

  section.sticky-jump-menu .sticky-jump-outter-wrapper .menu-wrapper ul li a {

    //@include breakpoint($narrow-screen) {
    //  padding: 0.6em 0.5em;
    //}
  }

  section.sticky-jump-menu .sticky-jump-outter-wrapper .menu-wrapper ul li a.jump-link.buy-now {
    @include breakpoint($narrow-screen) {
      background-color: $fp-orange;
    }
  }

  section.sticky-jump-menu .sticky-jump-outter-wrapper .menu-wrapper ul li:last-child {
    flex-grow: 0;
  }

  section.sticky-jump-menu .sticky-jump-outter-wrapper h3.product-title {
    display: flex;
    flex-wrap: wrap;
    background-color: $fp-orange;
    color: #fff;
    @include breakpoint($narrow-screen) {
      margin-left: ms(2);
      padding-left: 0;
    }
    @include breakpoint($small-screen-max) {
      background-color: transparent;
    }
    &:before {
      background-color: $fp-orange;
    }

    .part-item {
      display: flex;
    }

    .field--name-field-part-id {
      font-weight: $bold;
      margin-left: .3em;
    }
  }
}
