
.node--type-fireplaces-product {
  section#customize {
    margin-bottom: 0;
    .field--name-field-design-studio {
      .header-wrapper {
        padding: 0;
        margin-bottom: 0;
      }

      .content-wrapper {
        position: relative;
        padding: ms(5) ms(2) ms(5) ms(2);
        color: #fff;
        @include breakpoint(max-width $narrow-screen) {
          font-size: .85em;
        }
        @include breakpoint($weird-screen) {
          padding: ms(6) ms(2) ms(6) ms(2);
          width: 65%;
        }
        @include breakpoint($medium-screen) {
          padding: ms(8) ms(4) ms(8) ms(4);
          width: 50%;
        }

        * {
          color: #fff;
          z-index: 10;
          position: relative;
        }

        &:after {
          @include color-overlay($fp-orange, .9);
          z-index: 0;
        }

        &:before {
          @include dark-overlay;
          background: rgb(255,255,255);
          background: radial-gradient(circle, rgba(255,255,255,0) 63%, rgba(36,33,30,1) 100%);
          opacity: .4;
          z-index: 10;
        }
      }

      .product-title, .design-tagline {
        font-size: 1.6em;
      }

      //tagline

      .design-tagline {
        text-transform: uppercase;
        font-weight: $semi-bold;
        @include breakpoint(max-width $narrow-screen) {
          margin-bottom: .3em;
        }
      }

      //title

      h3 {
        color: #fff;
        font-size: 3.8em;
        font-family: $font-set-3;
        font-weight: $normal;
        margin-bottom: .5em;
        @include font-size(28);
        letter-spacing: 4px;
        line-height: 32px;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.17);
        @include breakpoint($weird-screen) {
          @include font-size(44);
          line-height: 50px;
        }
        @include breakpoint($medium-screen) {
          @include font-size(57);
          line-height: 73px;
        }
      }

      //porroduct

      .product-title {
        text-transform: uppercase;
        font-weight: $bold;
      }

      //link

      .button-wrapper a {
        @include btn-border-w;
        @include btn-medium;
        margin-bottom: 0;
        margin-left: 0;
      }
    }
  }
}
