
.division-fireplaces section.columns-wrapper.support {
  @include breakpoint($narrow-screen) {
    margin-top: ms(3);
  }
  @include breakpoint($medium-screen) {
     margin-top: ms(8);
  }

  //title

  h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    @include breakpoint($weird-screen) {
      @include font-size(32);
    }
  }

  a {
    color: $fp-dark-grey;
  }

  .product-description {
    @include breakpoint($medium-screen) {
      margin-right: ms(5);
    }
  }

  .product-support {
    @include breakpoint($weird-screen) {
      margin-left: ms(5);
    }
  }

  .product-support .field--name-field-support-links > .field__item {
     flex: 1 1 100%;
    @include breakpoint(450px) {
      flex: 1 1 33%;
    }

    &:not(:nth-child(2)) {
      @include breakpoint(450px) {
        .field--name-field-support-item-type {
          text-align: center;
        }
        img {
          margin: 0 auto;
        }
      }
    }
  }

  //weird screen fix

  .product-support .field--name-field-support-links > .field__item {
    &:not(:nth-child(2)) {
      @include breakpoint(450px $weird-screen) {
        flex: 1 1 100%;
        .field--name-field-support-item-type {
          text-align: left;
        }
        img {
          margin: 0;
        }
      }
    }
  }

  //SUPORT

  .block-support-links-block,
  .field--name-field-support-links {
    @include breakpoint(max-width $weird-screen) {
      margin-bottom: 0;
    }
  }

  .field--name-field-support-links h4 {
    font-size: 1.5em;
  }

  .block-support-links-block {
    a {
      color: $fp-orange;
      display: flex;

      &:hover {
        color: darken($fp-orange, 5%);
      }

      &:before {
        @include fontawesome-icon;
        content: $fa-var-chevron-right;
        top: -1px;
        position: relative;
      }
    }
  }

  //buttons

  .product-description {
    button {
      @include btn-secondary;
      @include btn-skinny;
      margin-top: ms();
    }
  }

  .btn-support-center a {
    @include btn-primary-fp;
    text-align: center;
    width: 100%;
  }
}
