

.division-fireplaces {
  section#features .field--name-field-features-stack > .field__item > .feature-stack > .feature-stack-item,
  section#features .field--name-field-features-stack > .field__item > .feature-stack-product > .feature-stack-product-item,
  section#features .field--name-field-features-stack > .field__item > .feature-stack > .feature-stack-product-item {

  //STACK MARGIN CHANGES FOR STACK ITEMS BUT NOT FOR FEATURED SLIDER

    .field--name-field-feature-lead-region,
    .field--name-field-feature-description-region,
    .field--name-field-feature-lead,
    .field--name-field-feature-description {
      @include breakpoint($narrow-screen) {
        margin-right: 20%;
      }
      @include breakpoint($medium-screen) {
        margin-right: 50%;
      }
    }

    .feature-stack-product-item:nth-child(even) .header-wrapper,
    .feature-stack-item:nth-child(even) .header-wrapper {
      .field--name-field-feature-lead-region,
      .field--name-field-feature-description-region,
      .field--name-field-feature-lead,
      .field--name-field-feature-description {
        @include breakpoint($narrow-screen) {
          margin-right: auto;
          margin-left: 20%;
        }
        @include breakpoint($medium-screen) {
          margin-left: 50%;
        }
      }
    }
  }

  //CHANGING FONTS FOR FP STACKS INCLUDING FOR SLIDER TITLES

  section#features .field--name-field-features-stack > .field__item > .feature-stack > .feature-stack-item,
  section#features .field--name-field-features-slider > .field__item > .feature-slider,
  section#features .field--name-field-features-stack > .field__item > .feature-stack-product > .feature-stack-product-item,
  section#features .field--name-field-features-stack > .field__item > .feature-stack > .feature-stack-product-item {  

    //SMALL TITLE

    .feature-style-text > p.feature-name {
      margin-bottom: .3em;
      font-size: .8em;
      color: #868686;
      @include breakpoint($narrow-screen) {
        font-size: 1em;
        margin-bottom: 1.3em;
      }
    }

    //MAIN TITLE

    .feature-style-text h3 {
      margin-bottom: .4em;
    }

    .feature-style-text h3 .field--name-field-feature-lead-region,
    .feature-style-text h3 .field--name-field-feature-lead {
      font-family: $font-set-3;
      letter-spacing: 4px;
      font-weight: 100;
      font-size: .8em;
      line-height: 32px;
      color: $fp-light-grey;
      @include breakpoint($narrow-screen) {
        font-size: 1em;
        line-height: 47px;
      }
      @include breakpoint($medium-screen) {
        font-size: 1.1em;
        line-height: 58px;
      }
    }


    //DESCRIPTION

    .feature-style-text .field--name-field-feature-description-region,
    .feature-style-text .field--name-field-feature-description {
      font-weight: $normal;
      font-style: italic;
      font-size: 1.1em;
      color: $fp-grey-light-1;
    }
  }

  //IF WHITE THEME

  .theme-color-white .header-wrapper {
    .feature-style-text {
      @include breakpoint(max-width $narrow-screen) {
        color: #fff !important;
      }
      @include breakpoint($narrow-screen) {
        color: $dark-grey !important;
      }
    }

    p.feature-name {
      @include breakpoint($narrow-screen) {
        color: $medium-grey !important;
      }
    }


    h3 .field--name-field-feature-lead-region,
    h3 .field--name-field-feature-lead {
      @include breakpoint($narrow-screen) {
        color: $dark-grey !important;
      }
    }

    .feature-style-text .field--name-field-feature-description-region,
    .feature-style-text .field--name-field-feature-description {
      @include breakpoint($narrow-screen) {
        color: $dark-grey !important;
      }  
    }
  }
}
