
.division-hvac .node--type-hvac-product,
.division-fireplaces .node--type-fireplaces-product {
  section.specs {
    padding: 0;
    margin-bottom: 0;
  }

  section.specs .specs-wrapper,
  section.specs .dimensions-wrapper {
    margin: 0;
    border: none;
    padding: ms(3) 0;
   @include breakpoint($narrow-screen) {
      padding: ms(5) ms(4) ms(6) ms(4);
    }
  }

  section.specs .specs-wrapper {
    @include breakpoint($narrow-screen) {
      background-color: $fp-bck-grey-shade-1;
    }
  }

  section.specs .dimensions-wrapper {
    @include breakpoint($narrow-screen) {
      background-color: $fp-bck-grey-shade-2;
    }
  }
}


.division-fireplaces .node--type-fireplaces-product {

  .specs .range,
  .specs .field .field,
  .specs .field .field a {
    color: $fp-orange;
  }

  //inner wrappers

  .specs .inner-wrapper {
    @include breakpoint(max-width $narrow-screen) {
     // align-items: center;
    }
  }

  //warrenty

  .field--name-field-warranty {
    width: 72px;

    & > * {
      flex-direction: column;
      align-items: center;
    }

    a {
      text-transform: none;
    }

    p.field {
      display: block;
      text-transform: none;
      align-items: initial;
    }

    p {
      margin-bottom: .5em;
      text-transform: uppercase;
    }

    .field--name-field-image {
      height: auto !important;
      // margin-bottom: .5em !important;
    }

    .field--name-field-image .field--name-field-media-image {
      display: flex;
      width: auto;

      img {
        width: auto;
        max-height: 80px !important;
      }
    }
  }

  // ====== Fuel Type

  .specs .field--name-field-fuel-type {
    &::before {
      content: "";
      background: url("../img/product/icon-fuel-type.svg") no-repeat;
      height: 70px;
      margin-bottom: 15px;
      opacity: 0.6;
      z-index: 10;
      display: block;
      width: 100px;
      background-position: center;
      @include breakpoint($narrow-screen) {
        width: 400px;
      }
      @media screen and (min-width: 1200px) {
        width: 80%;
      }
    }

    .field__item {
      @include font-size(20);
      color: $fp-orange;
      display: flex;
      letter-spacing: -0.4px;
    }
  }
}
