

// ++++++++++ Inline Media Alignment


// ===== Align Left

.caption.align-left,
.media.align-left,
.embedded-entity.align-left,
.align-left .embedded-entity {
  @include breakpoint($m-break) {
    float: left;
    clear: left;
    margin-right: rem(24);
  }

  .one_sidebar & {
    @include breakpoint($l-break) {
      margin-right: rem(24);
    }
  }
}


// ===== Align Right

.caption.align-right,
.media.align-right,
.embedded-entity.align-right,
.align-right .embedded-entity {
  @include breakpoint($m-break) {
    float: right;
    clear: right;
    margin-left: rem(24);
  }

  .one_sidebar & {
    @include breakpoint($l-break) {
      margin-left: rem(24);
    }
  }
}


// ===== Align Center

.caption.align-center,
.media.align-center,
.embedded-entity.align-center,
.align-center .embedded-entity {
  margin-left: auto;
  margin-right: auto;
}
