
body.node--type-product-series {
  section {
    margin-bottom: ms(3);
    @include breakpoint($narrow-screen) {
      margin-bottom: ms(6);
    }
  }

  //shadows

  section.shadow.bottom {
    display: none;
    @include breakpoint($narrow-screen) {
      display: block;
    }
  }

  article.node--type-product-series.node--view-mode-full .field--name-field-description {
    margin-top: 1.5em;
    @include breakpoint(0 $just-before-narrow-screen) {
      margin-bottom: 2em;
    }
  }
}
