
//BANNER

.node--type-product-series {
  .header-wrapper  {
    padding: ms(2) ms() 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-size: cover;
    @include breakpoint($narrow-screen) {
      padding: ms(6) ms() 0;
    }
  }

  .field--name-field-series-logo .blazy .media--blazy {
    img.media__element {
      width: 80%;
      margin: 0 auto;
    }
  }

  .field--name-field-header-content {
    color: #fff;
    font-size: 1.1em;
    h1, h2 {
      font-size: 1.2em;
    }

    @include breakpoint($narrow-screen) {
      font-size: ms(3);
      h1, h2 {
        font-size: ms(4);
        margin: 0 ms();
      }
    }
  }
}
