// ===== Basic grid view for product series

.series-wrapper.basic-grid-style {

  //=== individual product wrapper
  .node--type-product > .node__content {

    // ====== Image
    .item-image {
      flex: 1 1 auto;
      justify-content: center;
      display: flex;
      margin-bottom: 0;
      flex-direction: column;
      height: 250px;
      max-height: 250px;

      .field--name-field-thumbnail-image,
      .field--name-field-media-image {
        margin-bottom: 0;

        img {
          margin: 0 auto;
          width: auto;

          @include breakpoint(max-width $narrow-screen){
            max-height: 250px;
          }

          @include breakpoint($standard-screen) {
            max-height: 250px;
          }
        }
      }
    }

    // ===== Value/cost
    .item-value {
      flex: 0 0 auto;
    }

    // ===== View link
    .item-link{
      flex: 1;
      margin-top: 20px;

      & > a {
        margin: 0;
      }
    }
  }
}
