// @colour palettte  ==============================================
// using color names as variables is fine.

// BASE THEME (GRILLS)  ==============================================

$dark-blue: #002072;
$blue: #016eb8;
$light-blue: #32a5f3;
$grey: #808285;
$purple: #712b62;
$olive: #898700;
$stats-blue: #007abd;
$secondary-stats-blue: #5096c9;
$orange: #c44124;
$red: #c32127;
$gold: #936400;
$green: #7d790d;
$dark-green: #179b3b;
$beige: #fdf3df;

// greys

$white: #fff;
$light-grey: #f2f5f7;
$off-black: #515151;
$neutral-grey: #c8cacc;
$dark-grey: #4b4c4d;
$dark-grey-alt: #2b2b2b;
$medium-grey: #272727;
$grey-medium-font: #6E6E6E;
$darkest-grey: #1b1c1c;
$dark-font: #353535;
$ui-grey: #eee;
$dark-ui-grey: #b7b7b7;
$dark-dots: #aaa;
$search-grey: #d2d3d5;
$dealer-list-grey: #f4f4f6;


$corporate-highlight: #333;
