

// ++++++++++ Button Class Use


// ===== Btn classes applied are likely in the WYSIWYG and should be inline blocks

a[class^="btn-"] {
  display: inline-block;
}


// ===== Button

.button {
  @include btn(primary);
  margin: rem(12) rem(12) rem(12) 0;
}


// ===== Primary

.btn-primary,
a[title="Primary Button"],
.cke_panel_listItem.cke_selected a[title="Primary Button"] {
  @include btn();
}

.cke_panel_listItem.cke_selected a[title="Primary Button"] {
  color: $white !important;

  &:focus {
    background-color: $brand-primary-1 !important;
    border-color: $brand-primary-1 !important;
    outline: 1px dotted $black;
  }
}


// ===== Primary Small

.btn-primary--small {
  @include btn(primary, small);
}


// ===== Secondary

.btn-secondary,
a[title="Secondary Button"],
.cke_panel_listItem.cke_selected a[title="Secondary Button"]{
  @include btn(secondary);
}

.cke_panel_listItem.cke_selected a[title="Secondary Button"] {
  &:focus {
    outline: 1px dotted $black;
  }
}


// ===== Secondary Small

.btn-secondary--small {
  @include btn(secondary, small);
}


// ===== Tertiary

.btn-tertiary,
a[title="Tertiary Button"],
.cke_panel_listItem.cke_selected a[title="Tertiary Button"]{
  @include btn(tertiary);
}

.cke_panel_listItem.cke_selected a[title="Tertiary Button"] {
  &:focus {
    outline: 1px dotted $black;
  }
}


// ===== Tertiary Small

.btn-tertiary--small {
  @include btn(tertiary, small);
}
