
.division-fireplaces {
  .mm-listitem a.btn-default-orange-menu, .mm-listitem a.btn-default-orange-menu + a.mm-btn_next { 
    background-color: $fp-orange;
    &:hover {
      background-color: white;
      color: #000;
    }
  }

  .mm-listitem {
    &:hover, &:focus, &:active {
      a.btn-default-orange-menu + a.mm-btn_next, a.btn-default-orange-menu {
        background-color: white;
        color: #000; 
      }
    }
  }

	.mm-btn_prev:before {
		color: $fp-orange;
	}
}