/**
 * @file themes/custom/reactportfolio/frontend/src/index.css
 */

@import "styles/color.css";
@import "styles/navigation";
@import "styles/sidebar.css";
@import "styles/accordion.css";
@import "styles/blockquote.css";

* {
  font-size: 1.15rem;
}

img {
  width: 100%;
}

#root {
  margin-top: 1rem;
}

.drupal-index {
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-bottom: 2rem;
}

#main {
  overflow: auto;
  text-align: justify;
}

/************************************************
 * SCREEN <= 991px
 ************************************************/

@media screen and (max-width: 991px) {
  .drupal-index {
    flex-direction: column;
    justify-content: center;
  }

  #main {
    margin-top: 2rem;
  }
}
