{% if children is not empty %}
  {% set wrapper_attributes = create_attribute() %}
  {% set dislay_columns_classes = [] %}

  {% if display_showroom is empty %}
    {% set dislay_columns_classes = dislay_columns_classes|merge(['no-showroom-display']) %}
  {% endif %}
  {% if display_services is empty %}
    {% set dislay_columns_classes = dislay_columns_classes|merge(['no-services-display']) %}
  {% endif %}

  <div{{ wrapper_attributes.addClass('locations-list-wrapper', dislay_columns_classes) }}>
    <p class="location-list-heading-intro">{% trans %}Your local authorized dealers{% endtrans %}</p>
    <div class="locations-list-heading hide-item-on-mobile">
      <div class="list-heading level">{% trans %}Level{% endtrans %}:</div>
      <div class="list-heading distance">{% trans %}Distance{% endtrans %}:</div>
      <div class="list-heading location">{% trans %}Location{% endtrans %}:</div>
      {% if display_showroom %}
        <div class="list-heading showroom">{% trans %}Showroom{% endtrans %}:</div>
      {% endif %}
      {% if display_services %}
        <div class="list-heading services">{% trans %}Services{% endtrans %}:
          {% if services_url is not empty %}
            <a class="services-link" href="{{ services_url }}" target="_blank"><span class="fas fa-question-circle"></span></a>
          {% endif %}
        </div>
      {% endif %}
      <div class="list-heading links">{% trans %}Links{% endtrans %}:</div>
    </div>
    <div class="locations-list">
      {%  for location in children %}
        {{ location }}
      {% endfor %}
    </div>
  </div>
{% endif %}
