
.field--name-field-features-carousel {
  margin-bottom: ms();

	.feature-carousel {
		position: relative;
		margin: 0 -.3em;
	}

	.feature-carousel-item {
		margin: 0 .3em;
	}

  //image

	.field--name-field-media-image {
		margin-bottom: ms();
	}

  .field--name-field-media-image img {
    width: 100%;
  }

  //text

	.text {
		margin: 0 0;
		font-size: ms(1);
    @include breakpoint($medium-screen) {
      margin: 0 ms();
    }
	}

  .slick-arrow {
    z-index: 10;
    top: 31%;

    &:before {
      color: #fff;
    }
  }

  .slick-next {
    right: 25px;
  }

  .slick-prev {
    left: 25px;
  }

  .slick-dots {
    position: relative;
    margin-top: ms();
  }
}
