//modal overlay when you click "buy now" on product pages

.node--type-hvac-product,
.node--type-fireplaces-product-series,
.node--type-product,
.node--type-fireplaces-product {

  #colorbox.brandify-cbox {
    //@include breakpoint(0 $narrow-screen) {
    //  height: 825px !important;
    //}

    //general content styles, pushing a height for mobile

    //#colorbox,
    //#cboxWrapper,
    //#cboxContent {
    //  @include breakpoint(0 $narrow-screen) {
    //    height: 825px !important;
    //  }
    //}

    // attempting to not show scrollbar when possible

    #cboxWrapper .online-dealers-wrapper {
      //margin-right: 35px;
      overflow: hidden;
    }

    #cboxWrapper * {
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    #cboxWrapper .online-dealers-wrapper {
      iframe {
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        width: calc(100% + 35px);
      }
    }

    #cboxContent {
      overflow: visible;
      @include breakpoint(0 $narrow-screen) {
        #cboxClose {
          bottom: auto;
          top: -2px;
        }
      }
    }

    #cboxLoadedContent {
      margin-bottom: 0;
      //@include breakpoint(0 $narrow-screen) {
      //  height: 100% !important;
      //}

      //disclaimer text

      .disclaimer {
        padding: .5em 0 0;
        @include breakpoint($wide-screen) {
          padding: .7em .7em;
        }
      }
    }

    //CONTENT

    #cboxWrapper {
      overflow: visible;
      padding-top: 1.5em;
      padding-bottom: 1em;
      section#dealers {
        max-width: 1175px;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        @include breakpoint($weird-screen) {
          padding: 0 1em 1em;
        }
        @include breakpoint($wide-screen) {
          flex-direction: row-reverse;
        }
      }

      .title {
        text-transform: none;
        font-size: 20.8px;
      }

      .wrapper {
        padding: 0;
        @include breakpoint($wide-screen) {
          padding:0 1em;
        }
      }

      //BUY LOCAL =================================

      .buy-local-wrapper {
        display: block !important;

        .info-request.info-request-dealer {
          @include breakpoint(0 $standard-screen-max) {
            padding-bottom: 1.25em;
          }
        }
      }

      //inner view

      .view-dealer-locator {
        margin-top: 0;

        & > .view-filters {
          @include hide;
        }

        .item-list ul {
          margin-bottom: ms();
        }

        .item-list li {
          flex-wrap: wrap;
          flex: 1 0 100%;
          min-width: 100%;
          max-width: 100%;
          background-color: $light-grey;
          margin: 0;
          padding: .9em 0 .7em;
          margin-bottom: 10px;
          @include breakpoint($wide-screen) {
            padding: .9em .5em .7em;
          }
        }

        //icon

        .item-list li .views-field-field-dealer-icon {
          justify-content: flex-start;

          img {
            @include breakpoint(max-width $wide-screen) {
              margin-left: .8em;
            }
          }
        }

        //how many km away

        .item-list li .views-field-field-dealer-location-proximity  {
          @include breakpoint(max-width 1400px) {
            flex: 100%;
            padding-top: .7em;
            margin-top: .7em;
            border-top: 1px solid $ui-grey;
            font-weight: bold;
          }
          @include breakpoint(1400px) {
            border-color: #fff;
          }
        }
      }

      //BUY ONLINE ======================================

      .online-dealers-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        @include breakpoint($medium-screen) {
          flex: 1 1 50%;
        }
        @include breakpoint(0 $wide-screen) {
          //margin-top: 2em;
        }

        h3 {
          margin-bottom: 0px !important;
          position: relative;
          @include breakpoint($wide-screen) {
            margin-bottom: 3px !important;
          }
        }



        .img-wrapper {
          max-width: 140px;
        }

        img {
          max-width: 100%;
        }

        table tbody tr {
          display: flex;
          align-items: center;
          justify-content: center;

          td {
            flex: 1 1 auto;
            justify-content: space-between;
          }
        }

        a {
          display: block;
          margin-left: auto;
        }

        span.btn {
          //margin-left: 80px;
          margin-bottom: 0;
          margin-right: 0;
          text-align: center;
        }


        iframe {
          margin: 0;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          height: 100% !important;
          min-height: 300px !important;
        }
      }
    }

    //CLOSE BUTTON ======================================

    #cboxWrapper #cboxClose {
      bottom: 0;
      top: -31px;
      right: -7px;
      background-image: none;
      height: 30px;
      width: 30px;
      text-indent: 200px;
      display: block;
      position: absolute;
      background: transparent;
      z-index: 900;

      &:after {
        @include icomoon-icon;
        @include icon-x;
        color: #000;
        transform: rotate(45deg);
        font-size: 30px;
        top: 0;
        right: 0px;
        position: absolute;
        height: 30px;
        width: 30px;
        text-indent: 0px;
      }
    }

    //submit button

    input.button--primary.form-submit {
      bottom: auto !important;
    }
  }
}


.zero-opacity {
  opacity: 0 !important;
}

//FF

@-moz-document url-prefix() {
  .disclaimer {
    height: 100%;
  }
}
