
$grid-break1: 1024px;

.feature-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: ms(3);
  margin-top: ms(3);
  margin-right: -1%;
  margin-left: -1%;

  & > .feature-grid-item {
    width: 100%;
    background-color: #000;
    color: #fff;
    float: left;
    margin: 1%;
    @include breakpoint($grid-break1) {
       width: 31.3333%;
    }

    &.element-hinvisible {
      width: 0;
      margin: 0;
    }

    article {
      display: flex;
      flex-direction: column;
    }
  }

  .node__content {
    position: relative;
    display: block !important;
    align-items: center;
    justify-content: space-between;
  }

  .header-wrapper {
    min-height: 260px;
    flex-direction: column;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0 !important;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    align-items: flex-end;
    height: 100%;

    &:after {
      content: none;
    }

    &:hover {
       @include breakpoint($grid-break1) {
        justify-content: center;
        @include transition;

        .field--name-field-feature-description,
        .field--name-field-description {
          transition: max-height 1s ease-out;
          max-height: 600px;
          opacity: 1;
          padding-top: ms(-1);
        }

        .text {
          flex-grow: 1;
          display: flex;
          align-items: center;
          width: 100%;
          flex: 1 1 100%;
        }
      }
    }
  }

  .inner-wrapper {
  	position: relative;
  	z-index: 10;
  }

  .text {
    padding: ms();
    position: relative;
    margin: 0;
    width: 100%;
    position: relative;
    top: auto;
    transform: none;
    text-align: center;

    &:before {
    @include dark-overlay;
    }

    .field {
      position: relative;
    }

    h3 {
      margin: 0;
      font-weight: $bold;
      font-size: ms(1);
      color: #fff;
    }

    @include breakpoint($grid-break1) {
      &:hover {
      	.field--name-field-feature-description,
        .field--name-field-description {
          display: block;
        }
      }

      .field--name-field-feature-description,
      .field--name-field-description {
        display: none;
      }
    }
  }


	.field--name-field-feature-description,
  .field--name-field-description {
    height: auto;
    overflow: visible;
    @include breakpoint($grid-break1) {
      max-height: 0;
      opacity: 0;
    }
    p {
      margin: 0;
    }
  }
}


