
//Slider is different for mobile because we want all grid feature items to join in to the slider
//these are two different media type but they need to look the same for mobile

.field--name-field-features-slider,
.mobile-slider-wrapper {
  @include breakpoint(max-width $narrow-screen) {
    background-color: $darkest-grey;
    position: relative;
    margin-left: - ms(2);
    margin-right: - ms(2);
    padding-bottom: 10px;
    @include breakpoint($narrow-screen) {
      padding-bottom: 0;
      margin-right: 0;
      margin-left: 0;
    }

    @include breakpoint(0 $narrow-screen) {
      @include blue-shadow(black, 'after');
    }


    //SLIDER

    .b-lazy.header-wrapper {
      opacity: 1;
    }

    .main-slider.element-hinvisible {
      height: auto;
    }

    .slick-slider {
      margin: 0;
    }
  }
}


//main slider not in features has different  markup based on how it was made but needs to look the same as the features one for mobile
//the main slider has grid item markup

.field--name-field-product-features .mobile-slider-wrapper .mobile-slider.feature-grid  {
  @include breakpoint(max-width $narrow-screen) {
    .slick-arrow {
      @include hide;
    }

    .slick-slide {
      background-color: $darkest-grey;
    }

    .slick-slide article > .node__content {
      display: block !important;
      align-items: center;
      justify-content: space-between;
    }

    .header-wrapper {
      @include background-cover;
      background-position: center;
      background-size: initial;
      background-repeat: no-repeat;
      min-height: 250px;
      width: 100%;
      height: 100%;
      background-color: $darkest-grey;
      display: flex;
      padding: 1em;
      padding-top: 250px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0 !important;

      &:after {
        @include dark-bottom-overlay;
      }
    }

    .header-wrapper .text {
      position: relative;
      z-index: 10;
      color: #fff;
      float: right;
      padding: 1.5625em;
      text-align: center;
      width: 100%;
      margin-bottom: 1em;
      font-size: 1.5625em;

      &:before {
        content: none;
      }

      &:after {
        @include dark-bottom-overlay;
      }

      h3 {
        font-weight: $semi-bold;
        line-height: normal;
        margin-bottom: ms();
      }
    }
  }
}
