

//MAIN SLIDER GENERAL ONLY

article.node--type-product section.slider  {
  display: flex;

  .main-slider {
    @include full-width-color($darkest-grey, 'before');
  }

  //key features

  .field--name-field-product-features {
    width: 100%;
  }

  .field--name-field-product-features .key-text {
    margin-top: ms(4);
    margin-bottom: ms(2);
  }
}


//SLIDER FOR PRODUCTS AND ACCESSORIES

.node--type-hvac-product,
.node--type-fireplaces-product-series,
.node--type-fireplaces-product,
.node--type-accessory .accessories-features,
.node--type-product {
  position: relative;

  .header-outer-wrapper-feature {
    display: flex;
    height: 100%;
  }

  .feature-slider,
  .main-slider-wrapper {
    position: relative;
    //this is only needed for above mobile screen there is a different div that shows for mobile
    @include breakpoint($narrow-screen) {
      @include blue-shadow(black, 'after');

      &::after {
        left: 0;
        margin: 0;
        right: 0;
        width: 100%;
      }
    }

    .main-slider {
      background-color: $darkest-grey;
      margin-bottom: 0;
      position: relative;
      z-index: 10;


      .node__content {
        display: block !important;
        align-items: center;
        justify-content: space-between;
      }

      .header-wrapper {
        @include background-cover;
        background-position: center;
        background-size: initial;
        background-repeat: no-repeat;
        min-height: 250px;
        width: 100%;
        height: 100%;
        background-color: $darkest-grey;
        display: flex;
        padding-top: 250px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0 !important;
        @include breakpoint($narrow-screen) {
          display: block;
          min-height: 590px;
          padding-top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          background-position: left center;
        }

        &:after {
          @include breakpoint(0 $narrow-screen) {
            @include dark-bottom-overlay ;
          }
          @include breakpoint($narrow-screen $standard-screen) {
            @include dark-side-overlay;
            background: linear-gradient(to right, rgba(27,28,28,0.6) 60%, $darkest-grey 100%);
          }
          @include breakpoint($standard-screen) {
            @include dark-side-overlay;
            background: linear-gradient(to right, rgba(27,28,28,0) 40%, $darkest-grey 70%);
          }
          @include breakpoint($narrow-screen) {
            display: flex;
          }
        }
      }

      .text {
        position: relative;
        z-index: 10;
        color: #fff;
        float: right;
        padding: ms(2);
        text-align: center;
        width: 100%;
        margin-bottom: 1em;
        flex-grow: 0;
        @include breakpoint($narrow-screen) {
          margin-bottom: 0;
        }
        @include breakpoint($medium-screen) {
          padding: ms(2) ms(6) ms(2) ms(2);
          width: 471px;
        }

        a {
          @extend a.light-link;
          text-decoration: none;
        }

        h3 {
          font-weight: $semi-bold;
          line-height: normal;
        }

        .field--name-field-description {
          font-size: 1.25em;
        }
      }

      .slick-arrow {
        @include hide;
      }

      .slick-dots  {
        position: absolute;
        z-index: 50;
        margin: 0;
      }
    }
  }
}









