
.node--type-product {
  .video {
    margin-top: -1.5625em;
    @include breakpoint($standard-screen) {
      margin-top: -60px;
    }
    .field--name-field-video {
      @include breakpoint($medium-screen) {
        margin: 0;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

