
//same skeleton for accessories page and fireplaces product page.

// New PDP specific header
.pdp-grills{
  .node--type-hvac-product,
  .node--type-fireplaces-product,
  .node--type-accessory,
  .node--type-product {
    .header-content-wrapper {
      text-align: left;
    }
  }
}

.node--type-hvac-product,
.node--type-fireplaces-product,
.node--type-accessory,
.node--type-product {

  //HEADER

  .header {
    display: flex;
    align-items: center;
    padding: 80px 0 ms(8);
    position: relative;
    margin-bottom: 0;
    @include full-width-color($light-grey, 'before');
    @include breakpoint($product-break-mobile) {
      padding: 80px 0 ms(6);
    }

    &:before {
      background-image: url('../../src/img/steel-tile.png');
    }

    & > div {
      flex: 1;
      overflow: visible;
    }

    .features-wrapper {

      .field--name-field-parent-search-features {
        > .field__item {
          margin-bottom: 1rem;
          @include breakpoint($product-break-mobile) {
            display: inline-block;
            margin-right: 1rem;
          }
        }
      }
    }

    .image-wrapper {

      .field--name-field-media-image > .field__item {
        flex: 1;
      }
      .field--name-field-exclusive-label {
        position: absolute;
        z-index: 10;
        display: inline-block;
        background: #001959;
        top: -1em;
        color: #fff;
        letter-spacing: 1px;
        font-weight: bold;
        padding: .2em 1.5em;
        text-transform: uppercase;
        right: 0;

        &::after {
          content: " ";
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: -1px;
          z-index: -1;
          background: #001959;
          -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
          -webkit-transform: skew(30deg, 0deg);
          transform: skew(30deg, 0deg);
        }
      }
    }
  }

  //text

  .header-content-wrapper {
    text-align: center;
    position: relative;
    @include breakpoint($product-break-mobile) {
      padding: ms(2) ms(2) ms(2) 5em;
    }

    h1 {
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: $semi-bold;
      color: $dark-grey;
      line-height: 1em;
      @include breakpoint($product-break-mobile) {
        font-size: 2.8em;
        font-weight: $bold;
      }
    }

    .field--name-field-tagline {
      font-family: $font-set-2;
      font-size: ms(2);
      font-size: 1.1em;
      margin-bottom: .5em;
      @include breakpoint($product-break-mobile) {
        font-size: 1.6em;
      }
    }

    .image-wrapper.mobile {
      display: block;
      margin: ms(2);
      position: relative;
      height: auto;
      overflow: visible;
      visibility: visible;
      @include breakpoint($product-break-mobile) {
        position: absolute;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }

    .field--name-field-part-id {
      text-transform: uppercase;
      font-weight: $semi-bold;
      letter-spacing: 2px;
      margin-bottom: ms(-2);
    }

    .field--name-field-msrp {
      color: $blue;
      font-family: $font-set-2;
      text-transform: uppercase;
      font-size: ms(1);
      @include breakpoint($product-break-mobile) {
        font-size: 1.4em;
      }

      .value-special {
        margin-left: .2em;
        margin-right: .2em;
      }

      span:not(.value-special) {
        font-weight: $normal;
      }
    }

    .field--name-field-bazaarvoice-pr-summary {
      text-align: center;
      display: flex;
      align-content: center;
      justify-content: center;
      margin: .5em 0 2em;

      .bv_numReviews_text,
      #WAR {
        font-family: $font-set-1 !important;
        font-style: italic !important;
      }

      [data-bv-show=rating_summary] .bv_main_container .bv_stars_component_container .bv_stars_button_container,
      [data-bv-show=rating_summary] .bv_main_container .bv_main_container_row_flex {
        padding-right: 0 !important;
      }

      .bv_stars_component_container {
        padding-right: 0.5em !important;
      }

      div.bv_numReviews_text {
        font-style: italic !important;
        font-size: 18px !important;
        margin-right: 0.3em !important;
      }

      button.bv_button_buttonMinimalist {
        font-style: italic;
        font-size: 18px;
      }
    }

    .field--name-field-sister-product {
      a {
        color: lighten($dark-grey, 7%);
        font-style: italic;
        text-transform: uppercase;
      }
    }

    .type {
      margin: .4em 0 .6em;
      & > div {
        display: inline-block;
        text-transform: uppercase;
        font-weight: $bold;
        color: darken($grey, 8%);
        font-size: 1.2em;
        letter-spacing: 1px;

        &:after {
          content: '|';
          margin: 0 .2em 0 .5em;
        }

        &:last-child:after {
          content: none;
        }
      }
    }

    a.buy-now,
    button.shopify-buy__btn {
      @include btn-primary;
      @include default-color-btn($red, #fff, darken($red, 5%), #fff);
      margin: 0 .3em 1em;
      margin-top: 1.5em;
    }

    .shopify-buy__btn.shopping-cart-icon-loaded {
      .fa-shopping-cart {
        margin-left: .5rem;
        display: none;

        @include breakpoint($weird-screen) {
          display: none;
        }
      }
    }

    .addtocart-wrapper-container a,
    .btn {
      @include btn-secondary;
      width: 12em;
      border-radius: 0px;
      margin-top: 1em;
      margin-bottom: 0;
      margin-right: 0;

      @include breakpoint($narrow-screen) {
        padding-left: ms();
        padding-right: ms();
      }
      @include breakpoint($product-break-mobile) {
        margin-bottom: 0;
        // margin-right: 1em;
        @include breakpoint($narrow-screen) {
          font-size: 1.4em;
        }
      }
    }

    .addtocart-wrapper-container {
      display: inline-block;
      position: relative;
      z-index: 300;

      span:before {
        margin-right: .5em;
        font-size: .9em;
        top:-2px;
        position: relative;
      }

      .ajax-addtocart-wrapper {
        position: absolute;
        width: 100%;
        bottom: -150%;
        left:0;
        right:0;
      }
      .basic_cart-ajax-progress-throbber {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .legal-statement {
      font-style: italic;
      margin-top: .2em;
    }


    //loading graphic

    img#placeholder-button {
      margin-top: 30px !important;
      position: relative;
    }


    //related accessories

    .related-accessory-cta {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: #f7f7f7;
      border: 1px solid #eee;
      padding: 1em 1em;
      border-radius: 5px;
      margin-top: .5em;
      @include breakpoint(0 339px) {
        display: flex;
        flex-direction: column;
      }
      @include breakpoint(400px) {
        padding: 1em 3em;
      }

      p {
        font-weight: $bold;
        margin-bottom: 0;
        font-size: 1.2em;
        @include breakpoint(0 339px) {
          margin-bottom: .5em;
        }
      }

      a.jump-link {
        @include btn-primary;
        padding-right: 1em !important;
        padding-left: 1em !important;
        margin-left: 1em;
        margin-bottom: 0;
        margin-right: 0;
        font-size: 1.2em !important;
      }
    }
  }


  //image

  .header-wrapper {
   .field--name-field-media-image {
      display: flex;
      justify-content: center;
      img {
        width: auto;
        margin: auto;
        max-height: 32em;
      }
    }

    .image-wrapper {
      display: block;
      position: absolute;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      @include breakpoint($product-break-mobile) {
        position: relative;
        height: auto;
        overflow: auto;
        visibility: visible;
      }

      .image-style-medium {
        position: absolute;
        z-index: 10;
        bottom: 2em;
        height: 110px;
      }
    }
  }

  .header {
    .image-wrapper {
      display: block;
      position: absolute;
      height: 0;
      overflow: hidden;
      visibility: hidden;
      @include breakpoint($product-break-mobile) {
        position: relative;
        height: auto;
        overflow: visible;
        visibility: visible;
      }

      // Main img
      .field--name-field-main-image {
        img {
          margin: 0 auto;
          max-height: 600px;
          width: auto;
        }
      }

      // Warranty
      .image-style-medium {
        position: absolute;
        z-index: 10;
        bottom: 2em;
        height: 110px;
      }
    }
  }
}
