
section#features .field--name-field-features-slider {

	.main-slider-wrapper {
		padding-bottom: 0;
	}

	.main-slider-wrapper:after {
		content: none;
	}

	.main-slider .header-wrapper {
		@include breakpoint(max-width $narrow-screen) {
			background-size: contain;
			background-position-y: top
		}
	}

	.main-slider .header-wrapper:after {
		display: none;
	}

	.feature-slider {
		margin-bottom: 0;
	}

  .feature-slider-item > article.media--type-image-feature > .media-content:before {
  	transform: none !important;
  }

	.slick-dots {
		bottom: 1.8em;
	}

	button.slick-arrow {
		@include hide;
	}

	.slick-list {
		max-width: 100%;
	}
}
