// ++++++ Product shopify add to chart button + cart

.block-shopify-product-sticky-bar-block.enabled {
  height: 100px;
  position: static;

  #shopify-product-sticky-bar.enabled {
    background: $darkest-grey;
    bottom: 0;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .1);
    display: none;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    width: 100vw;
    z-index: 201;

    @include breakpoint($weird-screen) {
      background: $white;
      padding: 1.5rem;
      text-align: left;
    }

    &.sticky {
      position: fixed;
    }

    // Inner wrapper
    .shopify-product-sticky-bar-inner-wrapper {
      @include breakpoint($weird-screen) {
        align-items: center;
        display: flex;
      }
    }

    // Image
    .image-wrapper {
      display: none;

      @include breakpoint($weird-screen) {
        display: block;
        flex: 0 0 100px;
      }
    }

    // Info
    .info-wrapper {
      display: none;

      @include breakpoint($weird-screen) {
        display: block;
        flex: 1 1 auto;
        padding: 0 2rem;
      }

      p {
        color: darken($grey, 8%);
        margin-bottom: 0;
      }

      .product-title {
        font-weight: $bold;
        text-transform: uppercase;
      }
    }

    // Button
    .button-wrapper {

      // Add to cart
      button.shopify-buy__btn {
        @include btn-primary;
        @include default-color-btn($red, #fff, darken($red, 5%), #fff);
        margin: 0;

        .fa-shopping-cart {
          &::before {
            margin-left: 8px;
            vertical-align: 0;
          }
        }
      }
    }
  }
}







