
//TEXT STYLE FOR STACKING FEATURE TYPES - Font settings

.feature-style-text {
	color: #fff;
	z-index: 10;
	font-weight: $semi-bold;
	font-size: 1.3em;
  flex-grow: 1;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);

	//top uppercase title

	p.feature-name {
		text-transform: uppercase;
		color: $neutral-grey;
	}

	//main title

	.field--name-field-feature-lead-region,
	.field--name-field-feature-lead {
		font-weight: $semi-bold;
	}

	//description

	.field--name-field-feature-description-region,
	.field--name-field-feature-description  {
		margin-bottom: ms();
	}
}
