

//Specificiations and Dimensions

.specs {
  display: flex;
  margin-bottom: 0 !important;
  @include breakpoint($narrow-screen) {
    background-color: $light-grey;
    padding: ms(4) ms(4) ms(5);
  }

  & > div {
    flex: 1 1 50%;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 1.5em;
  }

  .title-label,
  .field__label {
    font-family: $font-set-2;
    text-transform: uppercase;
    margin-bottom: 0;
    @include breakpoint($narrow-screen) {
      margin-bottom: .4em;
    }
  }

  .space {
    margin-left: .3em;
  }

  //SUB INFO

  .extra-info {
    font-family: $font-set-2;
    text-transform: uppercase;
    display: flex;
    margin-top: .4em;
    padding-top: .5em;
    font-size: .8em;
    color: lighten($grey, 5%);
    position: relative;

    .field {
      margin-right: .2em;
    }

    .field--name-field-media-image {
      margin-bottom: ms();
    }

    &.food {
      color: $secondary-stats-blue;
    }
  }

  //RANGE

  .range {
    display: flex;
    color: $stats-blue;
    @include font-size(20);
    letter-spacing: -0.4px;
    margin-bottom: .5em;

    .measurement {
      text-transform: none;
    }

    .tild {
      margin: 0 .2em;
    }

    sup {
      top:10px;
      font-size: .3em;
    }

    p {
      margin-bottom: 0;
    }
  }

  //CHANGE

  .field .change {
    position: relative;
    color: $secondary-stats-blue;
    @include font-size(16);
    @include breakpoint($narrow-screen) {
      margin-top: .3em;
      padding-top: .45em;
    }

    .field {
      color: $secondary-stats-blue;
      font-weight: 500;
      @include font-size(16);
      margin-bottom: 0;
      @include breakpoint($narrow-screen) {
        margin-bottom: 0em;
      }
    }

    div {
      display: inline-block;
    }

    &:before {
      content: none;
      @include breakpoint($narrow-screen) {
        content: '';
        position: absolute;
        height: 1px;
        background-color: $grey;
        width: 50px;
        top:0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
      }
    }

    &.food {
      color: $secondary-stats-blue;
      font-weight: 500;
    }

    .measurement {
      font-weight: 500;
    }
  }

  //WRAPPER

  .inner-wrapper {
      display: flex;
      //flex-direction: column;
      flex-direction: row;
      //@include breakpoint(max-width $narrow-screen) {

     // }
      @include breakpoint($narrow-screen) {
        flex-direction: row;
      }
      & > .field {
        margin: 0 .5em .5em;
        @include breakpoint(0 $narrow-screen) {
          margin: 0;
          margin-bottom: 1em;

          & > .field {
            margin-bottom: 1em;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .field {
      font-family: $font-set-2;
      font-weight: $semi-bold;
      color: darken($grey, 2%);
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      .field,
      .field__item {
        color: $stats-blue;
        @include breakpoint($narrow-screen) {
          margin-bottom: 0em;
        }
      }
    }

  //SPECS WRAPPER

  .specs-wrapper {
    @include breakpoint($narrow-screen) {
      border-right: 1px solid darken($ui-grey, 5%);
      padding-right: ms(4);
    }
  }

  //DIMENSIONS WRAPPER

  .dimensions-wrapper {
    margin-left: ms(4);
    .extra-info {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .disclaimer {
    text-transform: uppercase;
    font-weight: $bold;
    color: $grey;
    font-size: .8em;
    position: relative;
    @include breakpoint($narrow-screen) {
      top: 2em;
    }
  }

  // Warranty
  .field--name-field-warranty {
    & > div {
      flex-direction: column;

      .field--name-field-image {
        flex: 0 0 70px;

        img {
          width: auto;
        }
      }

      // 'warranty'
      & > p:not(.field) {
        font-family: $font-set-2;
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: center;

        @include breakpoint($narrow-screen) {
          margin-bottom: .4em;
        }
      }

      .field {
        text-align: center;
      }
    }
  }
}

.specs.tabbed {
  .mobile-tab-titles {
    margin-bottom: 0;
  }

  .title-tab.title-desktop {
    display: none;
    text-align: center;
    @include breakpoint($narrow-screen) {
      display: block;
    }
    @include breakpoint(1200px) {
      text-align: left;
    }
  }

  .dimensions-wrapper,
  .specs-wrapper {
    @include breakpoint(0 $narrow-screen) {
      @include negative-margin;
    }
  }
  .dimensions-wrapper.tab-on,
  .specs-wrapper.tab-on {
    @include breakpoint(0 $narrow-screen) {
      padding: ms(2) ms(2);
    }
  }

  .specs-wrapper .inner-wrapper > .field {
    &:nth-child(1) {
      p.field {
        @include font-size(20);
        line-height: 1.3em;
        letter-spacing: -0.4px;
      }

      .field--name-field-image {
        height: 70px;
        margin-bottom: 15px;

        img {
          max-height: 70px;
        }
      }
    }

    &.field--name-field-warranty {
      @include breakpoint(max-width $narrow-screen) {
        flex: 0 0 100%;
      }
    }

    &.btu-field,
    &.cooking-area-field {
      @include breakpoint(max-width $narrow-screen) {
        flex: 0 0 50%;
      }
    }

    &.btu-field {
      &:before {
        content: "";
        background: url("/sites/default/files/images/2018-12/btu.svg") no-repeat;
        height: 70px;
        margin-bottom: 15px;
        opacity: 0.6;
        z-index: 10;
        display: block;
        width: 100px;
        background-position: center;
        @include breakpoint($narrow-screen) {
          width: 400px;
        }
        @media screen and (min-width: 1200px) {
          width: 80%;
        }
      }
    }
    &.cooking-area-field {
      &:before {
        content: "";
        background: url("/sites/default/files/images/2018-12/cooking-area.svg") no-repeat;
        height: 70px;
        margin-bottom: 15px;
        opacity: 0.6;
        z-index: 10;
        display: block;
        width: 100px;
        background-position: center;
        @include breakpoint($narrow-screen) {
          width: 400px;
        }
        @media screen and (min-width: 1200px) {
          width: 80%;
        }
      }
    }
  }

  .dimensions-wrapper .inner-wrapper > .field {
    &:nth-child(1) {
      &:before {
        content: "";
        background: url("../img/product/dimensions-height.svg") no-repeat;
        height: 70px;
        margin-bottom: 15px;
        opacity: 0.6;
        z-index: 10;
        display: block;
        width: 100px;
        background-position: center;
        @include breakpoint($narrow-screen) {
          width: 400px;
        }
        @media screen and (min-width: 1200px) {
          width: 80%;
        }
      }
    }
    &:nth-child(2) {
      &:before {
        content: "";
        background: url("../img/product/dimensions-width.svg") no-repeat;
        height: 70px;
        margin-bottom: 15px;
        opacity: 0.6;
        z-index: 10;
        display: block;
        width: 100px;
        background-position: center;
        @include breakpoint($narrow-screen) {
          width: 400px;
        }
        @media screen and (min-width: 1200px) {
          width: 80%;
        }
      }
    }
    &:nth-child(3) {
      &:before {
        content: "";
        background: url("../img/product/dimensions-depth.svg") no-repeat;
        height: 70px;
        margin-bottom: 15px;
        opacity: 0.6;
        z-index: 10;
        display: block;
        width: 100px;
        background-position: center;
        @include breakpoint($narrow-screen) {
          width: 400px;
        }
        @media screen and (min-width: 1200px) {
          width: 80%;
        }
      }
    }
  }
}
