
section.columns-wrapper.support {
  display: flex;

  & > .field {
    flex: 1 1 50%;

    &:first-child {
      margin-right: ms(8);
    }

    &:only-child {
      margin-right: 0;
    }
  }

  h3 {
    margin-bottom: 32px;
    font-size: 30px;
  }

  .product-description {
    @include breakpoint($narrow-screen) {
      margin-right: ms(3);
    }
  }

  .product-support {
    @include breakpoint($narrow-screen) {
      margin-left: ms(3);
    }
  }

  .product-description .field--name-body {
    p {
      display: none;
    }
    p:first-of-type {
      display: block;
      @include breakpoint($wide-screen) {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .product-support {
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: ms(-1);
      font-weight: $semi-bold;
      clear: both;
      display: inline-block;
      float: left;
    }

    h4 {
      font-weight: $bold;
      font-size: 1.3em;
      margin-bottom: 1em;
    }

    .item-wrapper, #block-supportlinks {
      h4 {
        margin-bottom: ms();
      }
    }

    .field--name-field-support-links {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: ms(3);

      h4 {
        flex: 1 1 100%;
      }

      img {
        display: block !important;
        max-height: 140px;
        width: auto;
      }

      &:nth-child(2) {
        img {
          border: 1px solid #ccc;
        }
      }
    }

    .downloads-wrapper,
    .videos-wrapper {
      flex: 1 1 100%;
    }

    .downloads-inner-wrapper,
    .videos-links-wrapper {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: ms(3);

      & > div {
        flex: 1 1 50%;
        padding-right: 1em;
      }
    }

    .downloads-inner-wrapper > div {
      @include breakpoint($small-screen) {
        flex: 1 1 33%;
      }
      @include breakpoint($wide-screen) {
        flex: 1 1 auto;
        padding-right: 2rem;
      }
    }

    .support-download {
      display: inline-flex;
      flex-direction: column;
      a {
        display: inline-block;
        .field {
          display: inline-block;
        }
      }
    }

    .item-wrapper {
      flex: 1 1 50%;
      @include breakpoint(0 $narrow-screen) {
        margin-bottom: ms(2);
      }
    }
  }
}
