.node.node--type-project-build-step {
  &.node--view-mode-full {
    margin-top: 1rem;
    > .node__content {
      > .field--name-body {
        // Makes the text in paragraphs and lists a bit bigger.
        // 1.15 * 16px = 18.4px
        p,
        li {
          font-size: 1.15rem;
        }
      }
    }
  }
}

#block-de-theme-page-title--node-project_build_step {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-size: cover;
  // background image
  // @see themes/custom/digitalechidna/de_theme/de_theme.theme
  // @see themes/custom/digitalechidna/de_theme/templates/block/block--page-title-block.html.twig
  > .page-title {
    color: white;
    display: flex;
    justify-items: center;
    justify-content: center;
    max-width: var(--content-width);
  }
}

#top-3-first-steps {
  margin: 2rem 0;
}

.view-id-project_build_steps_series_.view-display-id-top_3_first_steps .view-content,
.view-id-project_build_steps_series_.view-display-id-page_read_all .view-content {
  font-size: 1.15rem;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--content-width);
  @media screen and (max-width: $just-before-weird-screen-max) {
    flex-direction: column;
  }
  > .views-row {
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    border: 1px solid var(--text-color-light);
    border-radius: 12px;
    box-shadow: 10px 5px var(--text-color-light);
    min-width: 300px;
    // max-width: 450px;
  }
}

.build-step-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  // width: 400px;
  max-width: var(--content-width / 2);
  > .build-step-card-image {
    width: 300px;
    max-width: 350px;
    img {
      border-radius: 10px;
    }
  }
}

.build-step-card-title {
  > h4 {
    margin-bottom: 5px;
  }
}

.build-step-card-metadata {
  font-style: italic;
  margin-bottom: 5px;
}

.build-step-card-read-more {
  font-weight: bold;
}

//

#related-first-steps {
}

.field--name-field-related-build-steps {
  font-size: 1.15rem;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--content-width);
  @media screen and (max-width: $just-before-weird-screen-max) {
    flex-direction: column;
  }
  > .field__item {
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    border: 1px solid var(--text-color-light);
    border-radius: 12px;
    box-shadow: 10px 5px var(--text-color-light);
    min-width: 300px;
  }
}

// .view-project-build-steps-series-.view-id-project_build_steps_series_.view-display-id-page_read_all {

// }
