:root {
  --background-color: rgb(28, 30, 28);
  --text-color: white;
  // The accent color of the site.
  --color-red: #ff5045;
  --color-grey: #dcdcdc;
  --content-width: 60vw;

  @media screen and (max-width: $standard-screen-max) {
    --content-width: 80vw;
  }
}
