
.responsive-menu-page-wrapper {
  background-color: var(--background-color);
}

#masthead {
  > div {
    background-color: var(--background-color) !important;
  }
  
}

#block-de-theme-breadcrumbs {
  background-color: var(--background-color);
  > nav {
    > ol {
      > li {
        > a:hover {
          color: var(--color-red);
          text-decoration: none !important;
        }
      }
    }
  }
}
