
.responsive-menu-page-wrapper {
  background-color: var(--background-color);
}

// .region.region--masthead-actions {
//   background-color: var(--background-color);
// }

#masthead {
  > div {
    background-color: var(--background-color) !important;
  }
  
}

#block-de-theme-breadcrumbs {
  background-color: var(--background-color);
}
