
//FIREPLACES ==============================================

$fp-orange: #b55f26;
$fp-orange-accessible: shade($fp-orange, 23); // Passes small text on search grey
$fp-grey: #757575;
$fp-light-grey: #c6c6c6;
$fp-dark-grey: #5b5b5b;
$fp-warm-dark: #1b1515;
$fp-dark-brown: #2d0101;
$fp-warm-purple: rgba(54, 51, 64, 1);

$fp-off-grey-light: #f8f5f0;
$fp-off-grey-medium: #e0dcd7;

$fp-bck-grey-shade-1: #eeedec;
$fp-bck-grey-shade-2: #e9e7e5;

$fp-grey-light-1: #dfdfdf;
