.brick > .field--name-field-webform {
  margin: 0 auto;
  padding: 0;
  @include breakpoint($weird-screen) {
    padding: 0 15%;
  }
  .webform-submission-form {
    max-width: 100%;
    margin: 0 auto;
    @include breakpoint($weird-screen) {
      max-width: 70%;

    }
  }
  .webform-submission-form .form-actions .form-submit {
    background-color: $blue;
    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}
