
.brick.background-image-text {
	padding: ms(4) ms(2);
	@include background-cover;

	&.text-center {
		.field--name-field-text {
			text-align: center;
		}
	}

	&.text-right {
		.field--name-field-text {
			text-align: right;
		}
	}

	&.text-left {
		.field--name-field-text {
			text-align: left;
		}
	}
}






