
//// MOBILE ALIGNMENTS  =================================

.brick.background-color-image-text {
	@include breakpoint(max-width $just-before-narrow-screen) {
		.inner-wrapper {
			* {
				text-align: center;
			}
		}
	}

	//// ALIGN ========================================

	&.align-vertical-top-mobile {
		@include breakpoint(max-width $just-before-narrow-screen) {
			padding: 2em 2.5em 15em;

			.background-image {
				background-size: 100% auto;
		    background-position: bottom center;
		    background-repeat: no-repeat;
			}
		}
	}

	&.align-vertical-middle-horizontal-right-mobile,
	&.align-vertical-middle-horizontal-left-mobile,
	&.align-vertical-middle-mobile {
		.background-image.mobile {
			opacity: .4;
		}
	}

	&.align-vertical-middle-horizontal-left-mobile {
		.field--name-field-text {
			* {
				text-align: left;
			}
		}
	}

	&.align-vertical-middle-horizontal-right-mobile {
		.field--name-field-text {
			* {
				text-align: right;
			}
		}	
	}

	&.align-vertical-bottom-mobile {
		@include breakpoint(max-width $just-before-narrow-screen) {
			padding: 15em 2.5em 2em;

			.background-image {
				background-size: 100% auto;
		    background-position: top center;
		    background-repeat: no-repeat;
			}
		}
	}
}	