
@mixin negative-margin {
  position: relative;
  margin-right: - ms(2);
  margin-left: - ms(2);
  @include breakpoint($standard-screen) {
    margin-right: - ms(4);
    margin-left: - ms(4);
  }
}

//negative margin

.negative-margin {
  @include negative-margin;
}


//special banner style

.brick.background-image-text.special-banner-style,
.brick.special-banner-style {
  @include breakpoint(0 $weird-screen) {
    padding-top: 10em;
  }
  @include breakpoint($weird-screen) {
    min-height: 440px;
  }

  &.text-right {
    .field--name-field-text {
      @include breakpoint($weird-screen) {
        margin-right: 5%;
      }
    }
  }

  &.text-left {
    .field--name-field-text {
      @include breakpoint($weird-screen) {
        margin-left: 5%;
      }
    }
  }

  .field--name-field-text {
    position: relative;
    z-index: 50;
    text-align: center;
    @include breakpoint($weird-screen) {
      flex: 0 0 29%;
    }

    p {
      font-size: 1.4em;
    }
  }
}


// lead padding

.lead-padding-style {
  .field--name-field-text {
    margin: 0 auto;
    margin-top: ms(5);

    h2, h3 {
      font-weight: $bold;
    }
    p {
      font-size: 1.4em;
    }
    @include breakpoint($weird-screen) {
      flex: 0 0 64%;
    }
  }
}


//do not strech image

.brick.image-auto-width {
  .field--name-field-media-image {
    img {
      width: auto;
      margin: 0 auto;
      display: block;
    }
  }
}

//vertical align center

.vertical-center {
  align-items: center;
}


//special max height for image

.max-350-height {
  .field--name-field-media-image img {
    height: 350px;
  }
}

//fonts

.light-aoda-blue {
  color: #1A73B7;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.max-width-1300 {
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
}

.large-spacing-top {
  margin-top: 5em !important;
  margin-bottom: 0;
}

// hide main menu link on desktop

#block-horizontalmenu {
  .hide-on-desktop {
    @include breakpoint($standard-screen) {
      display: none !important;
    }
    @media screen and (max-width: 991px) {
      display: block !important;
    }
  }
}

// hide options on footer

#footer {
  .hide-on-footer {
    display: none !important;
  }
}
