$brick-mobile-break: $weird-screen;

//General

.brick {
	flex-wrap: wrap;
	margin-bottom: ms(2);
	@include breakpoint($brick-mobile-break) {
		display: flex;
		margin-bottom: ms(6);
	}

	.brick {
		margin-bottom: 0;
	}

	& > .field {
		margin-bottom: 1em;
		flex: 1 1 100%;
	}

	.field--name-field-media-image img {
    width: 100%;
  }

  &.image-left {
		.field.field--name-field-media-image {
			@include breakpoint($brick-mobile-break) {
				img {
					margin-right: ms(2);
				}
			}
		}
  }

  &.image-right {
		.field.field--name-field-media-image {
			@include breakpoint($brick-mobile-break) {
				img {
					margin-left: ms(2);
				}
			}
		}
  }
}


