{{ attach_library('hnp_light_dark_modes_toggle/light_dark_toggle') }}

<label class="light-dark-toggle switch">
	<input type="checkbox"/>
	<span class="slider"></span>
	<input id="current-theme-mode" type="hidden" value="{{ current_mode }}"/>
</label>
