#block-sitebranding {

  @media screen and (max-width: 992px) {
    padding: 0;
    
    .site-slogan {
      display: none;
    }
  }
  
  @media screen and (min-width: 1220px) {
    margin-top: -48px;
  }

  background-color: black;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  z-index: 100;
  padding: 19px 0 18px;

  .site-name {
    a {
      color: white !important;
      text-decoration: none;
      font-size: 30px !important;
    }
  }

  .site-slogan {
    color: white;
  }
}
