
#block-sociallinksblock {
  .links-wrapper {
    ul {
      @include reset;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @include breakpoint($narrow-screen) {
        justify-content: flex-end;
      }

      li {
        @include reset;
        @include no-bullet;

        a {
          span.fab {
            display: inline-block;
            margin-left: 1.2em;
            margin-bottom: .5em;
          }
          span:before {
            @include fontawesome-icon;
            font-size: 1.7em;
            color: #fff;
            text-align: center;
            display: block;
            margin: 0 auto;
            line-height: 24px;
          }

          span.fa-linkedin-in:before {
            content: "\f0e1" !important;
          }

          span.facebook-messenger:before {
            @include icomoon-icon;
            @include icon-fb-messenger;
            color: #fff;
          }
        }
      }
    }
  }
}


