
#block-header-cart-block {
	margin-left: .5em;
	@include breakpoint(1200px){
		margin-left: 1em;
	}
	#header-shopping-cart {
		a {
			font-weight: $bold;

			.fab {
		    display: flex;
    		flex-direction: row;
    		align-items: center;
			}

			.fab:before {
				font-size: 2em;
		    position: relative;
		    line-height: 1em;
		    margin-left: .2em;
		    order: 2;
			}
		}
	}

	.items-in-cart:not(.items-in-cart--empty) {
    background: $red;
    border: 2px solid white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    text-align: center;
		font-weight: $bold;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: .8em;
    top: 0;
    z-index: 3;
	}
}

body:not(.division-fireplaces):not(.division-grills):not(.division-hvac) {
	#block-header-cart-block {
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			height: calc(100% + 16px);
			width: 100%;
			left: 0;
			right: 0;
			top: -8px;
			bottom: 0;
			z-index: 0;
			background-color: $dark-grey-alt;
		}

		#header-shopping-cart {
			position: relative;
			z-index: 1;
			padding: 0 1em;
		}

		.shopping-cart-url {
			color: $white;
		}
	}
}

.division-fireplaces,
.division-grills,
.division-hvac {
	#block-header-cart-block {
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			height: calc(100% + 16px);
			width: 100%;
			left: 0;
			right: 0;
			top: -8px;
			bottom: 0;
			z-index: 0;
		}

		#header-shopping-cart {
			position: relative;
			z-index: 1;
			padding: 0 1em;
		}

		.shopping-cart-url {
			color: $white;
		}
	}
}

.division-fireplaces {
	#block-header-cart-block {
		&::before {
			background-color: $fp-orange;
		}
	}
}

.division-grills {
	#block-header-cart-block {
		&::before {
			background-color: $blue;
		}
	}
}

.division-hvac {
	#block-header-cart-block {
		&::before {
			background-color: $hv-red;
		}
	}
}
