
//SEARCH BLOCK TRIGGER ICON

.napoleon-search-header-form {
  position: unset;
  display: flex;
  align-items: center;

  a.header-search-trigger {
    padding-left: 24px;
    display: block;
    overflow: hidden;
    width: 20px;
    height: 22px;
    position: relative;
    top: 0;
    line-height: 25px;
    padding-top: 1px;
    right: 0;
    text-decoration: none;
    @include breakpoint($narrow-screen) {
      height: 26px;
      padding-top: 1px;
    }
    @include breakpoint($standard-screen) {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      overflow: auto;
      width: auto;
      padding-left: 0;
    }

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: -ms-autohiding-scrollbar; 

    &:before {
      @include icomoon-icon;
      @include icon-search;
      color: #fff;
      left: -23px;
      font-size: 19.6px !important;
      @include breakpoint($standard-screen) {
        float: right;
        left: 0;
        right: -23px;
        font-size: 22.4px !important;
        padding-left: 14px;
      }
    }
  }

  form {
    display: flex;
  }
}

//dropdown content

#napoleon-search-header-form.open {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#071123+0,0f5fab+100 */
  background: #071123; /* Old browsers */
  background: -moz-linear-gradient(top, #071123 0%, #0f5fab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #071123 0%,#0f5fab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #071123 0%,#0f5fab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#071123', endColorstr='#0f5fab',GradientType=0 ); /* IE6-9 */
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  width: 100vw;
  left: - ms(2);
  @include breakpoint($narrow-screen) {
    bottom: -74px;
  }
  @include breakpoint($standard-screen) {
    left: - ms(4);
  }
  @include breakpoint(1044px) {
    left: 0;
    width: 100%;
  }

  .form-type-textfield {
    width: 100%;
    margin: 0;
    input {
      width: 100%;
    }

   input:not(#edit-submit):not(#edit-actions-submit):not(.button) {
      height: 43px;
    }
  }

  input.form-submit {
    margin: 0;
    margin-left: ms();
    @include btn-small;
    position: absolute;
    right: 14px;
    height: 43px;
    top: 14px;
    @include breakpoint($narrow-screen) {
      top: 16px;
    }
  }

  a.header-search-trigger {
    top: -63px;
  }
}





