
#block-basiccartcountblock--2 {

	a {
		display: flex;
    text-align: center;
    justify-content: center;
	}

	.basic-cart-count {
		margin-right: .3em;
	}

	p {
		margin: 0;
		display: flex;
					order: 3;
	}

	span.fab {
		float: left;
		order: 1;
	}

	span.fab:before {
		@include fontawesome-icon;
		font-size: 1.1em;
		top: -2px;
    position: relative;
    margin-left: .3em;
	}
}	