

#block-fuel-type-links-block {
  display: flex;
  margin-left: 0;
  width: 100%;
  margin-top: ms(2);
  @include breakpoint($narrow-screen) {
    display: inline-block;
    float: right;
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
  }
  @include breakpoint($medium-screen) {
    margin-left: ms(2);
  }

 a {
  text-transform: uppercase;
  font-weight: $bold;
  text-decoration: none;
  color: $fp-grey;
  padding: 0 .5em .65em;
  margin-bottom: ms();
  font-size: 1.2em;
  display: inline-block;
  letter-spacing: 2px;
  flex: 1;
  text-align: center;
  &:last-child{margin-right: 0;}
  @include breakpoint($narrow-screen) {
    font-size: 1.6em;
    margin-right: ms(2);
    margin-bottom: ms(2);
    padding: 0 .5em .3em;
  }
 }

 a.active {
  color: #000;
  border-bottom: 1px solid $fp-orange;
  @include breakpoint($narrow-screen) {
    border-bottom: 2px solid $fp-orange;
  }
 }
}
