// ====== EU Cookie compliance banner

.sliding-popup-bottom {
  width: 100%;
  display: none;

  .eu-cookie-compliance-banner {
    background-color: white;
    padding: 2em 2em 1em;
    border-top: 1px solid rgba(0, 0, 0, .3);

    // ===== innder wrapper
    .eu-cookie-compliance-content {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1308px;
      align-items: center;
      flex-direction: column;
      position: relative;

      @include breakpoint($standard-screen) {
        flex-direction: row;
      }
      .eu-cookie-compliance-message,
      .eu-cookie-compliance-buttons {
        max-width: 90%;
      }

      // ===== Close button
      .btn-close {
        color: $grey-medium-font;
        position: absolute;
        right: 0;
        top: -10px;

        &:hover,
        &:focus {
          color: $dark-grey;
        }
      }

      // ====== Text
      #popup-text {
        flex: 0 0 80%;
        
        .bold-text {
          font-size: 1.25em;
          padding-right: 2em;
          font-weight: bold;
          margin-bottom: .25em;
        }

        br {
          @include breakpoint(max-width $medium-screen-max) {
            content: ' ';
            display: inline-block;
            width: 2px;
          }
        }
      }

      // ===== Button
      #popup-buttons {
        flex: 0 0 20%;
        text-align: right;
        button {
          margin: 0;
        }
      }
    }
  }
}
