
.division-hvac {
  #block-hvac-customer-support-header-block {
    font-weight: $semi-bold;
  }

  &:not(.user-logged-in) #block-hvac-customer-support-header-block {
    margin-top: -33px;
  }

  #block-customersupportmenublock {
    .support-menu-item {
	    @include breakpoint($narrow-screen) {
	      flex: 1 0 45%;
	    }

	    @include breakpoint($medium-screen) {
	      flex: 1 0 calc(33.333% - 1em);
	    }
    }
  }
}
