
$wishlist-break: 740px;

.block-napoleon-wish-list {
	#wish-list-summary-form {
		@include breakpoint($wishlist-break) {
			display: flex;
			flex-wrap: wrap;
		}

		// BOTTOM INFO

		.wish-list-statement {
			margin-top: ms(6);
			h3 {
				font-size: 1em;
				color: #000;
			}
		}

		.wish-list-buttons {
			display: flex;
			justify-content: center;
			@include breakpoint($narrow-screen) {
				justify-content: flex-end;
			}
			input {
				@include btn-red;
				width: 100%;
				margin: 0;
				font-size: 1.2em;
				font-weight: bold;
				@include breakpoint($narrow-screen) {
					width: 40%;
					max-width: 16em;
				}
			}
		}
	}
}


//PARTS AND PRODUCTS

.wish-list-product-summary, .wish-list-part-summary {
	flex: 1 0 44%;

	h3 {
		font-size: 1.1em;
		color: #000;
	}

	.column-names {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $grey;
		padding-bottom: .05em;
	}

	.wish-list-row {
		border-bottom: 1px solid $grey;
		padding: 1em 0;
		display: flex;
		justify-content: space-between;


		//IMAGE WRAPPER

		.field--name-field-media-image {
			margin-right: 1em;
			@include breakpoint($wishlist-break) {
				margin-right: ms();
			}
			img {
				max-height: 90px;
				width: auto;
				margin-right: ms();
				@include breakpoint($wishlist-break) {
					//max-height: 90px;
				}
			}
		}


		//TITLE WRAPPER

		.title-wrapper {
			flex-grow: 1;

			.title {
				padding-top: 1em;
			}

			.title a {
				@extend a.dark-link;
				text-transform: uppercase;
				font-weight: $bold;
				color: #000;
			}

			.tagline {
				p {
					margin-bottom: 0;
					font-style: italic;
				}
			}

			.part-id {
				font-style: italic;
				font-size: .8em;
			}
		}


		//QAUNTITY WRAPPER

		.quantity-wrapper {
			flex-shrink: 0;
			margin-left: .5em;
		}

		.quantity-wrapper .quantity {
			display: flex;

			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
			  -webkit-appearance: none;
			}

			input {
		    height: 25px !important;
		    color: #000 !important;
		    font-weight: 600;
		    font-size: 1.4em !important;
		    width: 10px;
		    width: 30px;
		    border: 1px solid #000 !important;
			}

			button {
				background: transparent;
				color: $grey;
				border: 1px solid $grey;
				padding: 0;
				margin: 0;
		    font-size: .9em;
		    width: 25px;
		    height: 25px;
			}
		}

		.quantity-wrapper .remove-item {
			text-align: center;
			margin-top: 1em;
			a {
				@extend a.dark-link;
				font-size: .8em;
				text-decoration: underline;
				text-align: center;
			}
		}
	}
}

.wish-list-statement, .wish-list-buttons {
	flex: 1 0 100%;
}

.wish-list-product-summary {
	@include breakpoint($wishlist-break) {
		margin-right: 3%;
	}
}

.wish-list-part-summary {
	@include breakpoint(0 $wishlist-break) {
		margin-top: 3em;
	}
	@include breakpoint($wishlist-break) {
		margin-left: 3%;
	}
}
