

#block-wishlistcheckoutblock {
	@include breakpoint($wishlist-break) {
		width: 47%;
		margin-right: 3%;
		float: left;
	}
}

#block-wishlistsmallsummaryblock {
	@include breakpoint($wishlist-break) {
		width:  47%;
		margin-left: 3%;
		float: left;
	}
}

//SUMMARY FORM
#block-wishlistsummaryblock,
#block-wishlistsmallsummaryblock {
	#wish-list-summary-form {
		.wish-list-total {
			width: 100%;
			text-align: right;
			margin-top: 1em;
			margin-right: 1em;
			p {
				color: #000;
				font-weight: bold;
				text-transform: uppercase;
			}
			@include breakpoint($wishlist-break) {
			}
		}
	}
}

//CHECKOUT FORM

#block-wishlistcheckoutblock {

	.form-title {
		font-weight: $bold;
		color: #000;
		font-size: 1.7em;
		margin-bottom: 0;
	}

	.form-item label {
		text-transform: none;
	}

	form {
		input:not([type="submit"]) {
			width: 100% !important;
		}

		.form-actions {
			display: flex;
			align-items: center;
			margin-top: 2em;
			flex-wrap: wrap;
			padding: .5em 0;

			.button {
				//background-color: $red;
			}

			a#edit-actions-edit {
				@include btn-primary;
			}
		}

		//send request

		.form-actions input#edit-actions-submit {
			@include default-color-btn($red, #FFF, darken($red, 5%), #FFF);
			font-weight: $bold;
		}

		//buttons

		.button, .form-actions a#edit-actions-edit {
			display: inline-block;
			font-size: 1em !important;
			margin-right: 1em;
			//margin-bottom: 0;
			//margin: .5em;
			@include breakpoint(0 $narrow-screen) {
				width: 100%;
				//margin: .5em 0;
				text-align: center;
			}
			@include breakpoint($narrow-screen) {
				font-size: 1.2em !important;
			}
		}

		.error-message {
			color: $red;
			font-weight: bold;
		}
	}
}

// DEALER SEARCH VIEW BLOCK
#block-views-block-acquia-search-dealer-search {
	display: none;
}

//SMALL SUMMARY FORM

#block-wishlistsmallsummaryblock {
	background-color: $light-grey;
	padding: 1em;

	form#wish-list-summary-form {
		display: block;
	}

	.wish-list-product-summary, .wish-list-part-summary {
		margin: 0;

		& > p {
			font-weight: $semi-bold;
			margin-bottom:.2em;
		}
	}

	h3.title {
		color: #000;
		font-size: 1.7em;
		margin-bottom: .1em;
	}

	.column-names {
		justify-content: flex-end;
		font-weight: $semi-bold;
		padding-bottom: .2em;
	}

	.wish-list-product-summary {
		margin-top: 1.5em;
	}

	.wish-list-row {
		padding: .5em 0;

		.title {
			padding-top: 0;
		}

		.part-id p:last-child {
			margin-bottom: 0;
		}

		.quantity span {
			display: inline-block;
			color: #000;
			font-size: 1.1em;
	    font-weight: bold;
	    border: 1px solid $grey;
	    width: 54px;
	    text-align: center;
	    padding: .15em 0;
		}
	}
}

//choose a dealer near you

form#wish-list-checkout-form {
	.required-info {
    text-align: right;
    margin-bottom: 0;
    margin-top: -1em;
    font-size: .85em;

    span {
    	color: red;
    }
	}

	#edit-search-criteria,
	#edit-dealers {
		fieldset,
		#edit-dealer {
			border: none;
			padding: 0;

			legend {
				margin-bottom: .5em;
				color: #000;
			}
		}
	}

	#edit-dealers {
		.empty-message {
			margin-top: 1em;
		}
		#edit-dealer > div {
			margin-bottom: 2em;

			label.option {
				font-weight: $bold;
				text-transform: uppercase;
			}

			& > div {
				margin-left: 29px;
			}
		}
	}

	#edit-search-criteria {
		input[type=checkbox] + label:before {
			top: 1px;
		}
	}
}
