$x-small-screen: 380px;
$small-screen-min: 463px;
$just-before-small-screen: 464px;
$small-screen: 465px;
$small-screen-max: 607px;
$just-before-narrow-screen: 607px;
$narrow-screen: 608px;
$narrow-screen-max: 767px;
$weird-screen: 768px;
$just-before-in-between-screen: 849px;
$in-between-screen: 850px;
$just-before-weird-screen-max: 894px;
$weird-screen-max: 895px;
$medium-screen: 896px;
$just-before-medium-screen-max: 990px;
$medium-screen-max: 991px;
$standard-screen: 992px;
$just-after-standard-screen: 993px;
$standard-screen-max: 1307px;
$wide-screen: 1308px;
$wide-screen-max: 1407px;
$super-wide-screen: 1450px;
