// @type settings    ==============================================

// modular scale settings are located in typography/_modular-scale.scss

$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;


$font-set-1: 'Source Sans Pro', Helvetica, sans-serif;
$font-set-2: 'Oswald', sans-serif;


