#block-views-block-promo-slider-promo-slider {
  .view-promo-slider {
    .slick-list {
      .slick-track {
        .views-row {
          .header-content {
            width: 100%;
            margin: 2em 0 4em 0;

            @include breakpoint($medium-screen) {
              height: 320px;
              padding: 0;
              overflow: visible;
            }
            @include breakpoint($super-wide-screen) {
              height: 520px;
            }
          }
        }
      }
    }
  }
}

#block-views-block-promo-slider-promo-slider-hvac,
#block-views-block-promo-slider-promo-slider-fireplaces,
#block-views-block-promo-slider-promo-slider {
  @include negative-margin;
  margin-top: - ms(5);
  @include blue-shadow(black, 'before');
  &:before {
    @include remove-full-width;
  }

  .header-wrapper {
    margin-top: 0 !important;
  }
}

.path-node.node--type-promo,
.view-promo-slider {
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-list {
    max-width: 1380px;
  }

  .slick-dots {
    bottom: 1.2em;
  }

  //for slick dots

  .slick-track .slick-slide .header-wrapper {
    padding-bottom: 3.3em;
  }

  .slick-track .slick-slide:only-child .header-wrapper {
    padding-bottom: 1em;
  }

  .slick-slider .slick-track .slick-slide article .node__content{
    display: block;
  }

  .node--type-promo {
    .header-wrapper {
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      flex-direction: column-reverse;
      height: 100%;
      position: relative;
      @include breakpoint($weird-screen) {
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        padding-top: 2em;
        padding-bottom: 2em;
      }
    }

    //text wrapper

    .header-content {
      position: unset;
      z-index: 10;
      padding: 1em;

      @include breakpoint(0 $weird-screen) {
        p:last-child {
          margin-bottom: 0;
        }
      }

      @include breakpoint($narrow-screen $medium-screen) {
        font-size: .7em;
        width: 100%;
      }

      @include breakpoint($medium-screen) {
        position: relative;
        padding: ms(4) ms(6) ms(4) ms(6);
      }
    }

    //title

    .header-title {
      a {
        color: #fff;
        text-decoration: none;
        font-size: ms();
        font-weight: $bold;
        line-height: ms();
        @include breakpoint($narrow-screen) {
          font-size: ms();
        }
        @include breakpoint($weird-screen) {
          font-size: ms(3);

        }
      }
    }

    //image

    .field--name-field-header-image {
      position: relative;
      top: 2.2em;
    }

    //body

    .field--name-field-description {
      color: #fff;
      font-size: ms();
      font-weight: $semi-bold;
      font-size: 1em;
      @include breakpoint($narrow-screen $medium-screen) {
        font-size: 1.8em;
      }
      @include breakpoint($weird-screen) {
        font-size: ms(2);
      }
    }

    //for links

    .header-wrapper {
      @include breakpoint(0 $weird-screen) {
        flex-direction: column;
        justify-content: space-between;

        .header-content {
          order: 1;
        }
        .field--name-field-header-image {
          order: 2;
        }
        .mobile.links {
          order: 3;
        }
      }
    }

    .header-content .field--name-field-links {
      display: none;
      @include breakpoint($weird-screen) {
        display: flex;
      }
    }

    .mobile.links {
      display: block;
      width: 100%;

      .field--name-field-links {
        display: flex;
        position: relative;
        margin-left: -1em;
        margin-right: -1em;
      }

      a {
        margin-bottom: 0em;
      }

      @include breakpoint($weird-screen) {
        display: none;
      }
    }
  }
}

// ====== logged in user
.user-logged-in {
  #block-views-block-promo-slider-promo-slider-hvac,
  #block-views-block-promo-slider-promo-slider-fireplaces,
  #block-views-block-promo-slider-promo-slider {
    margin-top: 0;
  }
}
