.region--masthead-actions {
  .region-inner {
    justify-content: space-between;
    ul.menu,
    ul.links {
      display: flex;
      @include reset;

      li {
        @include no-bullet;
        @include reset;
      }
    }

    a {
      @extend a.dark-link;
      font-weight: $bold;
      color: var(--text-color);
      font-size: 0.9em;
      &:lang(fr) {
        font-size: 0.78em;
      }
    }
  }
}

#block-uppermenublock {
  @media screen {
    margin-left: 1.2em;
  }
  flex-grow: 1;

  a {
    margin-right: 2em;

    &:hover {
      color: var(--color-red);
    }

    // Active state
    &.active {
      position: relative;
      color: var(--color-red);

      &::after {
        border-bottom: 7px solid #000;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        bottom: -17px;
        content: "";
        height: 0;
        left: calc(50% - 7px);
        position: absolute;
        transform: translateY(-50%);
        width: 0;
      }
    }
  }
}

.language-switcher-language-url,
.choose-region-form.choose-region-select-form.block.block-napoleon-region,
#block-languagedropdownswitcher,
#block-basiccartcountblock--2,
#block-productregistrationmenublock,
#block-dealerlogin,
#block-basiccartcountblock {
  ul.links a,
  a {
    font-weight: $semi-bold;
  }
  margin-left: 1.25em;

  @include breakpoint($wide-screen) {
    margin-left: 1.8em;
  }
}

#block-productregistrationmenublock {
  margin-left: 0;
}
