#block-horizontalmenu {
  display: none;
  @include breakpoint($standard-screen) {
    display: block;
    flex-grow: 1;
  }
}

.region--masthead-primary nav {
  ul#horizontal-menu {
    position: relative;
  }
  ul#horizontal-menu,
  ul.menu {
    @include reset;

    li {
      @include reset;
      @include no-bullet;
    }
  }

  & > ul#horizontal-menu,
  & > ul.menu {
    //z-index: 200;
    & > li {
      flex-grow: 1;
      text-align: center;
      position: static;
      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $semi-bold;
        @include font-size(16);
        padding: 0.9em 1em;
        display: block;
        @include transition;
        background-color: transparent;

        @include breakpoint($wide-screen) {
          @include font-size(18);
        }
      }

      //only top level links

      &:hover,
      &:focus {
        a {
          color: var(--color-red);
        }
      }

      // Only on one level

      & > ul.menu {
        padding: 1.5em 0 2em;
        width: calc(100% + 110px);
        left: -85px;
        column-width: 25%;
        column-count: 4;
        column-gap: 2em;
        @include breakpoint(1220px) {
          left: -190px;
          width: calc(100% + 220px);
        }
        @include breakpoint(1170px) {
          column-width: 20%;
          column-count: 5;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          width: 5000px;
          background: #0a0a0a;
          opacity: 0.95;
        }

        &:before {
          right: 100%;
        }

        &:after {
          left: 100%;
        }

        & > li:first-child {
          position: static;

          &:before {
            @include color-overlay(#0a0a0a, 0.95);
          }
        }

        & > li {
          margin-bottom: 1.5em;
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
          display: table;
        }
      }

      & ul.menu {
        display: block;
        color: #fff;

        & > li {
          text-align: left;

          a {
            color: #fff;
            text-transform: none;
            padding: 0.5em 1em;
            border: none;
            font-weight: $semi-bold;
            font-size: 0.9em;

            &:hover {
              color: var(--color-red);
            }
          }
        }
      }

      & > ul.menu ul.menu {
        position: static;

        & > li > a {
          //color: blue;
          padding: 0.5em 1.2em;
          line-height: normal;
        }
      }
    }
  }

  & > ul#horizontal-menu > li {
    & > ul.menu > li > a {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include font-size(16);

      @include breakpoint($wide-screen) {
        font-size: 1.1em;
      }
    }

    ul.menu {
      display: none;
      max-width: 1308px;

      & > li {
        flex: 1 1 auto;
        float: none;
      }
    }

    &:hover ul.menu {
      display: block;
    }
  }
}

ul.sub-nav .sub-nav {
  overflow: hidden;
}

//other

html:not(.js) {
  .block-mega-nav.menu--main > .menu > li:hover > .menu {
    display: block;
  }
}

.ui-autocomplete {
  z-index: 1001;
}

// Safari fix
_::-webkit-full-page-media,
_:future,
:root .region--masthead-primary nav > ul#horizontal-menu > li ul.menu > li {
  float: left;
}

.responsive-menu-toggle.force-mobile {
  display: block !important;
  @include breakpoint($standard-screen) {
    width: 100%;
    padding: ms(1);
  }
}

.block-responsive-menu-horizontal-menu.force-mobile {
  display: none !important;
}

// Corporate site highlight

// body:not([class*="division"]) .region--masthead-primary nav > ul.menu > li a a.btn-default-blue-menu {
//   background-color: $corporate-highlight !important;
//   &:hover {
//     background-color: darken($corporate-highlight, 5%) !important;
//   }
// }
