$seriesmobilebreak : $weird-screen;

@import 'block--view-faq';
@import 'block--customer-support';
@import 'block--customer-contact';
@import 'block--search-form-support-banner';


// FIREPLACES

@import 'fireplaces/block--customer-support__fp';
@import 'fireplaces/block--view-faq__fp';
@import 'fireplaces/professional-support-center';

// HVAC

@import 'hvac/block--customer-support__hv';
@import 'hvac/block--view-faq__hv';
@import 'hvac/professional-support-center__hv';

.view-faq {
  .views-row {
    border-bottom: 1px solid $dark-ui-grey;

    &:first-child {
      border-top: 1px solid $dark-ui-grey;
    }

    .views-field-title {
      span {
        display: block;
        padding: .5em 0;
        font-weight: $semi-bold;
        font-size: ms(2);
      }
    }
  }
}
