

.path-node.node--type-blog-post {
  #block-de-theme-page-title {
    @include hide;
  }

  article.node--type-blog-post {
    margin-top: -3.05176em;
  }
}

.user-logged-in.path-node.node--type-blog-post {
  article.node--type-blog-post {
    margin-top: 0;
  }
}


.path-node.node--type-blog-post {
  .field--name-field-main-image {
    @include negative-margin;
    margin-bottom: - ms(5);
    img {
      width: 100%;
    }
  }

  h1.header-title {
    text-align: center;
    margin-bottom: ms(2);
    padding-top: ms();
    padding-right: ms();
    padding-left: ms();
  }

  .wrapper {
    background-color: #fff;
    position: relative;
    z-index: 30;
  }

  .field--name-field-components {
    .image-left {
      .field--name-field-media-image img {
        padding-right: 1.5em;
      }
    }

    .image-right {
      .field--name-field-media-image img {
        margin-left: 0em;
        padding-left: 1.5em;
      }
    }
  }

 .field--name-field-tags {
  font-style: italic;
  text-align: center;
  margin-top: ms(3);
  padding-top: ms();
  border-top: 1px solid $grey;

  .field__item {
    margin: .5em;
    margin-right: 0em;
    display: inline-block;

    &:after {
      content: '/';
      margin-left: .5em;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
 }
}
