// Fireplaces FAQ
.division-fireplaces {
  #faq.block-views-blockfaq-faq-block-fireplaces {

    .title-wrapper {
      margin-bottom: ms(2);

      @include breakpoint($medium-screen) {
        padding-right: 38%;
        margin-bottom: 5em;
      }

      h2 {
        color: $dark-font;
        font-family: $font-set-1;
        font-size: ms(3);
        font-weight: $bold;
        letter-spacing: initial;
        line-height: 1.1em;

        @include breakpoint($narrow-screen) {
          font-size: ms(4);
        }
      }
    }

    .view-faq.view-display-id-faq_block_fireplaces {
      .view-content {
        h3 {
          color: $dark-font;
        }
      }
    }
  }
}
