// Professional support center

.brick.psc-wrapper {
  display: block;

  @include breakpoint($medium-screen) {
    display: inline-block;
    width: 48%;
  }

  &:nth-of-type(odd) {
    @include breakpoint($medium-screen) {
      margin-right: 3%;
    }
  }

  &:first-of-type {
    @include breakpoint($narrow-screen) {
      margin-top: 1em;
    }
  }

  .row {
    flex-direction: column;

    .components-column {
      flex: 0 0 auto;
    }
  }

  .field--name-field-text {
    font-size: .85em;
    margin-top: .5em;

    @include breakpoint($narrow-screen) {
      margin-bottom: 0;
    }
  }
}

.brick.psc-item {
  align-items: center;
  background-color: $ui-grey;
  display: flex;
  margin-bottom: .5em;
  padding: .75em 1.5em;
  width: 100%;

  .field--name-title {
    color: $dark-grey;
    flex: 1;
    font-size: 1.25em;
    font-weight: $semi-bold;
    margin-bottom: 0;
    padding-right: 1em;
  }

  .field--name-field-link {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 0;

    a {
      @include btn-primary-fp;
      margin-bottom: 0;
      margin-right: 0;

      @include breakpoint($narrow-screen) {
        font-size: 0.9em;
        padding: 0.512em 2em;
      }
    }
  }
}
